<div class="filter-department">
  <button class="outro-modal" (click)="onCancel()">
    <i class="icon icon-chevron-right-bold but-left-side"></i>
  </button>
  <div class="header">
    <div class="title">
      <h4>Filter</h4>
    </div>
    <div class="group-action">
      <button class="action-item cx-btn-secondary" (click)="onClear()">
        Clear Filter
      </button>
      <button class="action-item cx-btn" (click)="onApply()">Apply</button>
    </div>
  </div>
  <div class="content">
    <div *ngIf="departmentFilterOptions" class="filter-department__content">
      <div *ngFor="let departmentFilterOption of departmentFilterOptions">
        <div *ngIf="departmentFilterOption.name">
          <span class="deparment-name"> {{ departmentFilterOption.name }}</span>
        </div>
        <div *ngIf="departmentFilterOption.options">
          <ng-container
            *ngFor="let deparmentType of departmentFilterOption.options"
          >
            <cx-checkbox
              class="col-12 col-sm-6 col-lg-4 p-0"
              [assignedValue]="deparmentType.objectId"
              [selected]="deparmentType.isSelected"
              (valueSelected)="onSelected($event)"
            >
              {{ deparmentType.value | titlecase }}
            </cx-checkbox>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
