assignment-editor {
  display: flex;
  flex-direction: column;
  min-height: 0;
  max-height: 100%;
  padding-bottom: 20px;
  box-sizing: border-box;

  assignment-question-editor {
    margin: 0;

    & + assignment-question-editor {
      margin-top: 10px;
    }
  }
}

.assignment-editor {
  display: flex;
  flex-direction: column;
  background: $white;
  border-radius: $main-border-radius;
  padding-bottom: 25px;
  padding-top: 5px;

  &__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    align-self: center;
    max-width: calc(100% - 20px);
    width: 100%;
    margin-top: 30px;
  }

  &__assignment-question-template {
    width: 280px;
    padding: 20px 0;
  }

  &__question-container {
    padding: 0px 20px 2.5px;

    &:hover {
      assignment-question-adder {
        visibility: visible;
      }
    }

    assignment-question-adder {
      &:first-child {
        margin-bottom: 5px;
        display: none;
      }

      .add-btn-icon {
        width: 21px;
        height: 21px;
        line-height: 21px;
        background: $white;
        border: 1px solid $color-gainsboro;
        color: $color-gainsboro;
        position: absolute;
        left: calc(50% - 10px);
        @extend %smooth;

        &:hover {
          background-color: $color-blue-light;
          border-color: $color-blue-light;
          color: white;
          @extend %smooth;
        }
      }
    }

    &.-selected {
      .assignment-editor__question-item {
        border: 1px solid $color-gainsboro;
      }

      assignment-question-adder {
        visibility: visible;
      }
    }

    &:last-child {
      assignment-question-adder:last-child {
        visibility: visible;
        margin-top: 40px;
      }

      assignment-question-editor {
        position: relative;
      }
    }
  }

  &__question-item {
    border: 1px solid $color-gainsboro;
    border-radius: 5px;
    padding: 15px;

    &.-selected,
    &:hover {
      border-color: $color-gainsboro;
      background: $color-smoke;
      border-radius: $main-border-radius;
    }
  }

  &__freetext-question-config {
    margin-top: 50px;

    &--explanation-icon {
      margin-left: 0.5rem;
    }

    &--explanation-text {
      margin-top: 10px;
      padding: 10px;
      background-color: #8799ba;
      border-radius: 5px;
      color: #ffffff;
      width: fit-content;
    }
  }

  &__first-question-adder {
    max-width: calc(100% - 20px);
    align-self: center;
    width: fit-content;
    margin-top: 20px;
  }

  &__overal-score-container {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    padding: 15px 10px;
    color: $color-black;
    font-weight: 500;
  }

  &__overal-score-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
  }

  &__overal-score-text {
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 10px;
  }

  &__overal-score-value {
    font-size: 18px;
  }

  &__message-info {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
  }
}

@include flex-layout-media('lt-sm') {
  .assignment-editor {
    padding: 0;

    &__question-container {
      &:last-child {
        assignment-question-adder {
          &:last-child {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
