assignment-question-config {
  .assignment-question-config {
    &__randomize {
      margin-top: 10px;
    }

    &__randomize-checkbox {
      margin-right: 10px;
    }

    &__randomize-image {
      margin-left: 5px;
      width: 17px;
    }
  }
}
