setting-active-contributor-badge-criteria-dialog {
  .setting-active-contributor-badge-criteria-dialog {
    &__note {
      font-weight: 500;
      color: $color-blue-light;
      margin-bottom: 10px;
    }
  }
}
