cam-outlet course-of-planning-cycle-management-page {
  .course-of-planning-cycle {
    &__no-message {
      margin-top: 10px;
    }

    &__message-container {
      margin-top: 10px;
    }

    &__message {
      justify-content: center;
    }
  }
}
