.add-btn-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  color: white;
  background-color: $accent;
  text-align: center;
  cursor: pointer;

  &::before {
    content: '+';
  }
}

.remove-btn-icon.k-icon.k-i-minus-circle {
  color: rgb(255, 117, 117);
  cursor: pointer;
  font-size: 1.3em;
}

.asterisk {
  display: inline-block;

  &::after {
    content: ' *';
    color: $red;
  }
}

.k-icon.k-i-check {
  font-size: 20px;

  &.-success {
    color: #3bdc87;
  }
}
