  <div class="event-detail-form">
    <div class="dialog-header">
      <div class="dialog-header__title">{{title | translator}}</div>
      <div class="dialog-header__actions"><span class="k-icon k-i-close"
              (click)="onCancel()"></span></div>
    </div>
    <div class="dialog-content">
      <form class="k-form-inline event-form-content"
            [formGroup]="form">

        <div class="form-controls-group">
          <div class="form-title">{{'Title' | translator}}</div>
          <input class="form-control"
                 kendoTextBox
                 placeholder="Type event title"
                 formControlName="title"
                 kendoErrorTooltip
                 position="top">
        </div>

        <div class="form-controls-group event-form-all-day">
          <label for="isAllDay">
            <input class="k-checkbox"
                   id="isAllDay"
                   type="checkbox"
                   kendoCheckBox
                   kendoErrorTooltip
                   formControlName="isAllDay"> {{'All day' | translator}}</label>
          <label for="dailyRepeat">
            <input class="k-checkbox"
                   id="dailyRepeat"
                   type="checkbox"
                   kendoCheckBox
                   kendoErrorTooltip
                   (change)="onDailyRepeatChanged($event.target.checked)"
                   formControlName="dailyRepeat"> {{'Daily Repeat' | translator}}</label>
        </div>

        <div class="form-controls-group -horizontal event-form-datetime-picker">
          <div class="form-controls-group">
            <div class="form-title">{{'Start date' | translator}}</div>
            <kendo-datepicker #dateStart
                              formControlName="dateStartsAt"
                              placeholder="Select the date"
                              kendoErrorTooltip
                              position="top"
                              [format]="'dd/MM/yyyy'"
                              [disabledDates]="startDisabledDates.bind(this)"
                              (valueChange)="onDatesChanged()">
            </kendo-datepicker>
          </div>
          <div class="form-controls-group"
               *ngIf="!isDailyRepeat">
            <div class="form-title">{{'End date' | translator}}</div>
            <kendo-datepicker #dateEnd
                              formControlName="dateEndsAt"
                              placeholder="Select the date"
                              kendoErrorTooltip
                              position="top"
                              [format]="'dd/MM/yyyy'"
                              [disabledDates]="endDisabledDates.bind(this)"
                              (valueChange)="onDatesChanged()">
            </kendo-datepicker>
          </div>

          <div class="form-controls-group"
               *ngIf="isDailyRepeat">
            <div class="form-title">{{'Repeat Until' | translator}}</div>
            <kendo-datepicker #repeatUntil
                              formControlName="repeatUntil"
                              placeholder="Select the date"
                              kendoErrorTooltip
                              position="top"
                              [format]="'dd/MM/yyyy'"
                              [disabledDates]="repeatUntilDisabledDates.bind(this)"
                              (valueChange)="onDatesChanged()">
            </kendo-datepicker>
          </div>
        </div>

        <div class="form-controls-group -horizontal event-form-datetime-picker"
             *ngIf="!isAllDay">
          <div class="form-controls-group">
            <div class="form-title">{{'Start time' | translator}}</div>
            <kendo-timepicker #timeStart
                              formControlName="timeStartsAt"
                              placeholder="Select the time"
                              kendoErrorTooltip
                              position="top"
                              (valueChange)="onTimesChanged()">
            </kendo-timepicker>
          </div>
          <div class="form-controls-group">
            <div class="form-title">{{'End time' | translator}}</div>
            <kendo-timepicker #timeEnd
                              formControlName="timeEndsAt"
                              placeholder="Select the time"
                              kendoErrorTooltip
                              position="top"
                              (valueChange)="onTimesChanged()">
            </kendo-timepicker>
          </div>
        </div>

        <div class="form-controls-group">
          <div class="form-title">{{'Description' | translator}}</div>
          <textarea class="form-control event-form-description"
                    kendoTextArea
                    placeholder="Add description"
                    formControlName="description"
                    kendoErrorTooltip
                    position="top"></textarea>
        </div>

        <div class="form-controls-group"
             [hidden]="!isAbleToAddAttenders">
          <div class="form-title">{{ 'Attenders' | translator }}</div>
          <opal-select class="form-control event-form-attendee"
                       [placeholder]="'Search for the users' | translator"
                       [labelField]="'fullName'"
                       [valueField]="'id'"
                       formControlName="userIds"
                       [fetchDataByValuesFn]="fetchUserItemsByIdsFn"
                       [hasMoreDataToFetch]="hasMoreUsersToFetch"
                       [fetchDataFn]="fetchUsersFn"
                       [maxDropdownHeight]="320"
                       [disableSelectAll]="true"
                       (selectedValueChange)="onAttendeeChanged()"
                       [staticMode]="true"
                       [multiple]="true"
                       [disabled]="selectedEvent.id && !isEventOwner">
            <ng-template opalOptionTmp
                         let-item="item">
              <img class="ng-option-avatar"
                   src="{{defaultAvatar}}"
                   alt="attendee-avatar">
              <span class="ng-option-label">{{item.fullName != null ? item.fullName : item}}</span>
              <span class="ng-option-email">{{item.emailAddress != null ? item.emailAddress : ''}}</span>
              <button class="-small add-button"
                      kendoButton>
                {{ 'Add' | globalTranslator }}
              </button>
              <button class="-small remove-button"
                      kendoButton>
                <span class="icon-moe-remove"></span>{{'Remove' | globalTranslator }}
              </button>
            </ng-template>
          </opal-select>
          <div class="selected-attendees-container">
            <ng-container *ngFor="let attendee of selectedAttendees.slice(0, attendeesMaxShowingCount)">
              <ng-container>
                <span [ngClass]="attendee.id === currentUser.id || !isEventOwner ? 'remover-hidden' : ''">
                  {{attendee.fullName}}
                  <button class="attendee-remover"
                          type="button"
                          aria-hidden="true"
                          *ngIf="attendee.id !== currentUser.id && isEventOwner"
                          (click)="onClearSelectedAttendee(attendee)">×</button>
                </span>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="selectedAttendees.length > defaultAttendeesShowingCount">
              <span class="attendees-more"
                    (click)="toggleShowingAttendees()">{{attendeesToggleButtonName}}</span>
            </ng-container>
          </div>
        </div>

        <div class="dialog-actions event-form-actions">
          <div class="left-container">
            <button class="delete-btn"
                    type="button"
                    [hidden]="!selectedEvent.id || !isEventOwner"
                    kendoButton
                    (click)="onDelete()"><span class="k-i-delete-event"></span>{{ 'Delete' | globalTranslator }}
            </button>
          </div>
          <div class="right-container">
            <button type="button"
                    kendoButton
                    (click)="onCancel()">{{ declineButtonName | globalTranslator }}
            </button>
            <button kendoButton
                    [hidden]="selectedEvent.id && !isEventOwner"
                    (click)="onSave()"
                    [primary]="true"
                    [disabled]="form.invalid">{{ acceptButtonName | globalTranslator }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
