<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://thunder-bot-af.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/45616612-6438-455a-8c03-2bc760e9cd4c/resourceGroups/thunder-rg/providers/Microsoft.Web/sites/thunder-bot-af</ResourceId>
    <UserName>$thunder-bot-af</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://thunder-bot-af.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>