<div class="course-review-item">
  <div class="course-review-item__avatar"></div>
  <div class="course-review-item__details-container">
    <div class="course-review-item__name">{{ review.userFullName }}</div>
    <div class="course-review-item__rating-container">
      <div class="course-review-item__rating-stars" *ngIf="hasRating">
        <i
          class="icon tiny {{ review.rate < 1 ? 'star-outline' : 'star' }}"
        ></i>
        <i
          class="icon tiny {{ review.rate >= 2 ? 'star' : 'star-outline' }}"
        ></i>
        <i
          class="icon tiny {{ review.rate === 3 ? 'star' : 'star-outline' }}"
        ></i>
      </div>
    </div>
    <div class="course-review-item__comment" *ngIf="review.commentContent">
      <div multilineText *ngIf="wordsCount <= 50">
        {{ review.commentContent }}
      </div>
      <ng-container *ngIf="wordsCount > 50">
        <div *ngIf="!showingMore">
          {{ partialComment ? partialComment : '' }}
          <span
            class="course-review-item__comment-action"
            (click)="showingMore = true"
            >&nbsp;Read more</span
          >
        </div>
        <div *ngIf="showingMore">
          {{ review.commentContent }}
          <span
            class="course-review-item__comment-action"
            (click)="showingMore = false"
            >&nbsp;Read less</span
          >
        </div>
      </ng-container>
    </div>
    <div class="course-review-item__date">
      {{
        (review.changedDate !== undefined
          ? review.changedDate
          : review.createdDate
        ) | date: 'dd/MM/yyyy HH:mm'
      }}
    </div>
  </div>
</div>
