<div class="standalone-survey-question-adder"
     [hidden]="mode === StandaloneSurveyDetailMode.View"
     #tooltip="kendoTooltip"
     [ngClass]="{'-outline': !inlineAdd}"
     [filter]="inlineAdd ? ('#standalone-survey-question-adder__add-question-btn-' + id) : ('#standalone-survey-question-adder-' + id)"
     [id]="'standalone-survey-question-adder-' + id"
     [tooltipTemplate]="questionTemplateSelectorTemplate"
     kendoTooltip
     showOn="click">
  <div class="standalone-survey-question-adder__question-separator"
       *ngIf="inlineAdd"></div>
  <div class="standalone-survey-question-adder__add-question-btn add-btn-icon"
       [id]="'standalone-survey-question-adder__add-question-btn-' + id"></div>
  <div class="standalone-survey-question-adder__add-title"
       *ngIf="!inlineAdd"> {{ 'Add question' | translator }}

  </div>
</div>
<ng-template #questionTemplateSelectorTemplate
             let-anchor>
  <standalone-survey-question-template class="standalone-survey-question-adder__standalone-survey-question-template"
                                       (click)="tooltip.hide()"
                                       [priority]="priority"
                                       [minorPriority]="minorPriority">
  </standalone-survey-question-template>
</ng-template>
