<div class="dialog-header">
  <div class="dialog-header__title">
    {{ title }}
  </div>
  <div class="dialog-header__actions">
    <span class="k-icon k-i-close"
          (click)="onCancel()"></span>
  </div>
</div>
<div class="dialog-content">
  <div class="form-controls-group">
    <opal-select class="form-control"
                 [fetchDataFn]="fetchCourseSelectItemFn"
                 [(ngModel)]="selectedValue"
                 [labelField]="'courseName'"
                 [valueField]="'id'"
                 [searchFields]="['courseName','courseCode']"
                 [placeholder]="'Select the course' | translator"
                 [ignoreItemFn]="ignoreCourseItemFn"
                 [clearable]="true"
                 [dropdownBoundary]="'.dialog-content'">
    </opal-select>
  </div>
</div>
<div class="dialog-actions">
  <button kendoButton
          (click)="onCancel()">{{ 'Cancel' | globalTranslator }}</button>
  <button kendoButton
          [primary]="true"
          (click)="onProceed()">{{ 'Proceed' | globalTranslator }}</button>
</div>
