<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="cx-nuget-release" value="http://cxp-deploy05.westeurope.cloudapp.azure.com:81/nuget/release" />
    <add key="cx-nuget-snapshot" value="http://cxp-deploy05.westeurope.cloudapp.azure.com:81/nuget/pre-release" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- CHANGING V2 TO V3 IN THE URI VALUE SOLVED THE ISSUE! -->
    <add key="nuget.org" value="https://www.nuget.org/api/v3/" />
  </packageSources>
</configuration>