$red-active: rgb(221, 80, 80);

data-check-indicator {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  box-sizing: border-box;
}

.data-check-indicator {
  &__content {
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
  }

  &__has-data-indicator {
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 13px;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-self: flex-start;
    background-color: $red-active;
    flex-shrink: 0;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    margin-left: 5px;
  }
}
