@import '~assets/styles/variables.scss';

:host {
  display: block;
  width: 100%;
}
.nominate-status-container {
  .nominate-status {
    display: flex;
    padding-left: 30px;
    min-width: 100px;
    padding: 2px 2px;
    margin-bottom: 3px;
    cursor: pointer;
    &__circle {
      width: 10px;
      height: 10px;
      background: lightgrey;
      border-radius: 50%;
      flex-shrink: 0;
      margin-top: 4px;
      &.nominate-status-pending {
        background: $pendding-color;
      }
      &.nominate-status-approved {
        background: #3bdc87;
      }
      &.nominate-status-rejected {
        background: #ff6262;
      }
      &.nominate-status-notnominated {
        background: $cx-disabled-color;
      }
    }
    &__status {
      padding-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      p {
        margin: 0;
        &.nominate-status-sub-name {
          font-weight: 400;
          font-size: 11px;
          color: #8799ba;
        }
      }
    }
  }
}
