<div class="permissions-table-container">
  <div class="fluid-container">
    <div class="menu-action">
      <button (click)="onSystemRoleDialogClicked()" class="cx-btn">
        {{ 'Common.Button.CreateRole' | translate }}
      </button>
    </div>
    <div class="show-hide-colums-container">
      <button
        class="cx-btn cx-btn-secondary cx-btn-icon btn-show-hide-colums"
        (click)="openDialogToEnableColumns()"
      >
        <i class="icon icon-colums"></i>
      </button>
    </div>
  </div>
  <ag-grid-angular
    style="height: 100%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05)"
    class="ag-grid-header-floatable ag-grid-scroll-floatable ag-theme-material styled-grid permission-matrix-table"
    *ngIf="agGridConfig"
    #grid
    domLayout="autoHeight"
    [defaultColDef]="agGridConfig.defaultColDef"
    [columnDefs]="agGridConfig.columnDefs"
    [rowHeight]="82"
    [headerHeight]="100"
    [context]="agGridConfig.context"
    [rowData]="agGridConfig.rowData"
    [rowBuffer]="40"
    [rowClassRules]="agGridConfig.rowClassRules"
    [frameworkComponents]="agGridConfig.frameworkComponents"
    [gridOptions]="{ suppressMovableColumns: true }"
    [suppressColumnVirtualisation]="true"
    [suppressRowClickSelection]="true"
    [suppressMenuHide]="true"
    (firstDataRendered)="onFirstDataRendered($event)"
    [enableCellChangeFlash]="true"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
</div>
