.video-chapter-list {
  @include flex-column-container;
  height: 100%;
  padding-left: 24px;

  &__items {
    margin-top: 8px;
    margin-left: -24px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__lecture-name {
    margin: 16px 0 24px;
  }

  &__item {
    display: flex;
    cursor: pointer;
    padding: 16px 24px;
    position: relative;

    &--selected,
    &:hover {
      background-color: $color-white-smoke;
    }

    input {
      position: absolute;
      opacity: 0;
      width: 0;
      left: 50%;
    }
  }

  &__name {
    line-height: 24px;

    & div {
      &:first-child {
        text-decoration: underline;
        @include two-line-truncate-text;
      }

      &:nth-child(2) {
        color: $color-blue-light;
        font-size: 14px;
      }
    }
  }

  &__icon {
    width: 14px;
    height: 18px;
    margin-right: 10px;
  }

  &__empty-chapter {
    color: $color-blue-light;
    margin: 30px 0;
    text-align: center;
  }

  &__add-btn {
    margin-top: 16px;
    margin-left: -24px;
    height: 56px;
  }
}
