<ng-content select="kendo-toolbar"></ng-content>
<kendo-toolbar [overflow]="true"
               *ngIf="!userToolBarElement"
               #defaultToolbar> </kendo-toolbar>

<div class="k-editor-content"
     *ngIf="!iframe"
     #content
     [attr.dir]="direction"></div>

<div class="k-editor-content"
     *ngIf="iframe">
  <iframe class="k-iframe"
          #content
          frameborder="0"
          (load)="iframeOnLoad()"></iframe>
</div>

<ng-container #dialogsContainer
              kendoEditorLocalizedMessages
              i18n-alignCenter="kendo.editor.alignCenter|The title of the tool that aligns text in the center."
              alignCenter="Center text"
              i18n-alignJustify="kendo.editor.alignJustify|The title of the tool that justifies text both left and right."
              alignJustify="Justify"
              i18n-alignLeft="kendo.editor.alignLeft|The title of the tool that aligns text on the left."
              alignLeft="Align text left"
              i18n-alignRight="kendo.editor.alignRight|The title of the tool that aligns text on the right."
              alignRight="Align text right"
              i18n-backColor="kendo.editor.backColor|The title of the tool that changes the text background color."
              backColor="Background color"
              i18n-bold="kendo.editor.bold|The title of the tool that makes text bold."
              bold="Bold"
              i18n-cleanFormatting="kendo.editor.cleanFormatting|The title of the Clean Formatting tool."
              cleanFormatting="Clean formatting"
              i18n-createLink="kendo.editor.createLink|The title of the tool that creates hyperlinks."
              createLink="Insert link"
              i18n-dialogApply="kendo.editor.dialogApply|The label of the **Apply** button in all editor dialogs."
              dialogApply="Apply"
              i18n-dialogCancel="kendo.editor.dialogCancel|The label of the **Cancel** button in all editor dialogs."
              dialogCancel="Cancel"
              i18n-dialogInsert="kendo.editor.dialogInsert|The label of the **Insert** button in all editor dialogs."
              dialogInsert="Insert"
              i18n-dialogUpdate="kendo.editor.dialogUpdate|The label of the **Update** button in all editor dialogs."
              dialogUpdate="Update"
              i18n-fileText="kendo.editor.fileText|The caption for the file text in the insertFile dialog."
              fileText="Text"
              i18n-fileTitle="kendo.editor.fileTitle|The caption for the file Title in the insertFile dialog."
              fileTitle="Title"
              i18n-fileWebAddress="kendo.editor.fileWebAddress|The caption for the file URL in the insertFile dialog."
              fileWebAddress="Web address"
              i18n-fontFamily="kendo.editor.fontFamily|The title of the tool that changes the text font."
              fontFamily="Select font family"
              i18n-fontSize="kendo.editor.fontSize|The title of the tool that changes the text size."
              fontSize="Select font size"
              i18n-foreColor="kendo.editor.foreColor|The title of the tool that changes the text color."
              foreColor="Color"
              i18n-format="kendo.editor.format|The title of the tool that lets users choose block formats."
              format="Format"
              i18n-imageAltText="kendo.editor.imageAltText|The caption for the image alternate text in the insertImage dialog."
              imageAltText="Alternate text"
              i18n-imageHeight="kendo.editor.imageHeight|The caption for the image height in the insertImage dialog."
              imageHeight="Height (px)"
              i18n-imageWebAddress="kendo.editor.imageWebAddress|The caption for the image URL in the insertImage dialog."
              imageWebAddress="Web address"
              i18n-imageWidth="kendo.editor.imageWidth|The caption for the image width in the insertImage dialog."
              imageWidth="Width (px)"
              i18n-indent="kendo.editor.indent|The title of the tool that indents the content."
              indent="Indent"
              i18n-insertFile="kendo.editor.insertFile|The title of the tool that inserts links to files."
              insertFile="Insert file"
              i18n-insertImage="kendo.editor.insertImage|The title of the tool that inserts images."
              insertImage="Insert image"
              i18n-insertOrderedList="kendo.editor.insertOrderedList|The title of the tool that inserts an ordered list."
              insertOrderedList="Insert ordered list"
              i18n-insertUnorderedList="kendo.editor.insertUnorderedList|The title of the tool that inserts an unordered list."
              insertUnorderedList="Insert unordered list"
              i18n-italic="kendo.editor.italic|The title of the tool that makes text italicized."
              italic="Italic"
              i18n-linkOpenInNewWindow="kendo.editor.linkOpenInNewWindow|The caption for the checkbox for opening the link in a new window in the createLink dialog."
              linkOpenInNewWindow="Open link in new window"
              i18n-linkText="kendo.editor.linkText|The caption for the link text in the createLink dialog."
              linkText="Text"
              i18n-linkTitle="kendo.editor.linkTitle|The caption for the link title in the createLink dialog."
              linkTitle="Title"
              i18n-linkWebAddress="kendo.editor.linkWebAddress|The caption for the URL in the createLink dialog."
              linkWebAddress="Web address"
              i18n-outdent="kendo.editor.outdent|The title of the tool that outdents the content."
              outdent="Outdent"
              i18n-redo="kendo.editor.redo|The title of the tool that undos the last action."
              redo="Redo"
              i18n-strikethrough="kendo.editor.strikethrough|The title of the tool that strikes through text."
              strikethrough="Strikethrough"
              i18n-subscript="kendo.editor.subscript|The title of the tool that makes text subscript."
              subscript="Subscript"
              i18n-superscript="kendo.editor.superscript|The title of the tool that makes text superscript."
              superscript="Superscript"
              i18n-underline="kendo.editor.underline|The title of the tool that underlines text."
              underline="Underline"
              i18n-unlink="kendo.editor.unlink|The title of the tool that removes hyperlinks."
              unlink="Remove Link"
              i18n-undo="kendo.editor.undo|The title of the tool that undos the last action."
              undo="Undo"
              i18n-viewSource="kendo.editor.viewSource|The title of the tool that shows the editor value as HTML."
              viewSource="View source"
              i18n-insertTable="kendo.editor.insertTable|The title of the tool that inserts table."
              insertTable="Insert Table"
              i18n-addColumnBefore="kendo.editor.addColumnBefore|The title of the tool that adds new column before currently selected column."
              addColumnBefore="Add column before"
              i18n-addColumnAfter="kendo.editor.addColumnAfter|The title of the tool that adds new column after currently selected column."
              addColumnAfter="Add column after"
              i18n-addRowBefore="kendo.editor.addRowBefore|The title of the tool that adds new row before currently selected row."
              addRowBefore="Add row before"
              i18n-addRowAfter="kendo.editor.addRowAfter|The title of the tool that adds new row after currently selected row."
              addRowAfter="Add row after"
              i18n-deleteColumn="kendo.editor.deleteColumn|The title of the tool that deletes a table column."
              deleteColumn="Delete column"
              i18n-deleteRow="kendo.editor.deleteRow|The title of the tool that deletes a table row."
              deleteRow="Delete row"
              i18n-deleteTable="kendo.editor.deleteTable|The title of the tool that deletes a table."
              deleteTable="Delete table"></ng-container>
