<div *ngIf="loadedData" class="planned-pdo-nominations">
  <div
    *ngIf="keyLearningProgrammePermission.allowNominate"
    class="planned-pdo-nominations__nominate cx-panel"
  >
    <div *ngIf="!allowManagePDO" class="cx-panel__label-nodata">
      {{
        'Odp.LearningPlan.PlannedPDODetail.OnlyAvailableWhenLDApproved'
          | translate
      }}
    </div>
    <div
      *ngIf="allowManagePDO && published === false"
      class="cx-panel__label-nodata"
    >
      {{
        'Odp.LearningPlan.PlannedPDODetail.BlockAssignPDOWhenCourseUnpublished'
          | translate
      }}
    </div>
    <div *ngIf="isNoClassRunToNominate" class="cx-panel__label-nodata">
      {{ 'Odp.LearningPlan.PlannedPDODetail.NoClassRunToNominate' | translate }}
    </div>
    <ng-container
      *ngIf="allowManagePDO && hasValidClassRunToNominate && published"
    >
      <div class="nomination-mode-selector">
        <div class="cx-panel__label">
          NOMINATE
          <span *ngIf="isExternalPDO">EXTERNAL PD Opportunity</span> FOR *
        </div>
        <mat-radio-group
          class="nomination-mode-selector__selector"
          aria-label="Nomination target:"
          [value]="nominationMode"
          (change)="onChangeNominationMode($event)"
        >
          <mat-radio-button class="mr-4" [value]="'learner'"
            >Individual Learners</mat-radio-button
          >
          <mat-radio-button class="mr-4" [value]="'group'"
            >Groups</mat-radio-button
          >
          <mat-radio-button [value]="'department'"
            >Current Organisation Unit</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <div *ngIf="!isExternalPDO" class="select-classrun">
        <div class="cx-panel__label">Select a class run *</div>
        <cx-select
          *ngIf="classRunObs"
          class="select-classrun__selector"
          [(selectedItems)]="selectedClassRunSelectItem"
          [itemObs]="classRunObs"
          [config]="classrunSelectorConfig"
          (selectedItemsChange)="onSelectClassRunChange($event)"
        ></cx-select>
        <div *ngIf="selectedClassRun" class="select-classrun__info">
          <div class="classrun-info-primary">
            <div class="classrun-info-title">
              <div class="classrun-info-title__title">
                {{ selectedClassRun.classTitle }}
              </div>
              <div class="classrun-info-title__application-date">
                <div>APPLICATION DATE</div>
                <div *ngIf="selectedClassRun.applicationStartDate">
                  {{ getDateTimeString(selectedClassRun.applicationStartDate) }}
                </div>
                <div *ngIf="selectedClassRun.applicationEndDate">
                  {{ getDateTimeString(selectedClassRun.applicationEndDate) }}
                </div>
              </div>
            </div>
            <div class="classrun-info-start-date">
              <div class="cx-panel__label">START DATE</div>
              <div *ngIf="selectedClassRun.startDateTime" class="classrun-date">
                {{ getDateTimeString(selectedClassRun.startDateTime) }}
              </div>
            </div>
            <div class="classrun-info-end-date">
              <div class="cx-panel__label">END DATE</div>
              <div *ngIf="selectedClassRun.endDateTime" class="classrun-date">
                {{ getDateTimeString(selectedClassRun.endDateTime) }}
              </div>
            </div>
          </div>
          <div class="classrun-info-secondary">
            <div class="cx-panel__label">CLASS SIZE</div>
            <div>{{ selectedClassRun.maxClassSize + ' people' }}</div>
          </div>
        </div>
      </div>
      <div
        *ngIf="showSetApprovingOfficerField"
        class="select-approving-officer"
      >
        <div class="cx-panel__label">SET APPROVING OFFICER *</div>
        <mat-radio-group
          class="select-approving-officer__selector mt-2"
          aria-label="Approving officer target:"
          [value]="approvingOfficerMode"
          (change)="onChangeApprovingOfficerMode($event)"
        >
          <mat-radio-button class="mr-4" [value]="'admin'">
            Pick a Division/Branch/School Admin
          </mat-radio-button>
          <!-- TODO: Support route to individual learner -->
          <mat-radio-button class="mr-4" [value]="'cao'">
            Route to individual learner’s CAO
          </mat-radio-button>
        </mat-radio-group>
        <cx-select
          *ngIf="isApprovingAdminMode"
          class="learner-selector"
          [itemObs]="approvingAdminObs"
          [(selectedItems)]="selectedApprovingOfficerSelectItem"
          [config]="adminSelectorConfig"
        ></cx-select>
      </div>
      <div *ngIf="isNominationLearnerMode" class="select-learners">
        <div class="cx-panel__label">Select learners *</div>
        <cx-select
          *ngIf="learnerObs"
          class="learner-selector"
          [itemObs]="learnerObs"
          [(selectedItems)]="selectedLearnerSelectItems"
          [config]="learnerSelectorConfig"
        ></cx-select>
        <div
          *ngIf="
            selectedLearnerSelectItems && selectedLearnerSelectItems.length > 0
          "
          class="selected-learner-container"
        >
          <div class="nominate-list">
            <div
              *ngFor="let learnerCxSelectItem of selectedLearnerSelectItems"
              class="nominate-item"
            >
              <div class="nominate-learner-info">
                <div
                  class="nominate-learner-info__avatar"
                  [style.background-image]="
                    'url(' + learnerCxSelectItem.avatar + ')'
                  "
                ></div>
                <div class="nominate-learner-info__text">
                  <div class="nominated-learner-name">
                    {{ learnerCxSelectItem.primaryField }}
                  </div>
                  <div class="nominated-learner-email">
                    {{ learnerCxSelectItem.secondaryField }}
                  </div>
                </div>
              </div>
              <i
                class="icon icon-close nominate-item__icon-close"
                (click)="onClickedRemoveSelectedLearner(learnerCxSelectItem)"
              ></i>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isNominationGroupMode" class="select-user-group">
        <div class="cx-panel__label">Select a group *</div>
        <cx-select
          *ngIf="userGroupObs"
          class="select-user-group__selector"
          [(selectedItems)]="selectedUserGroupSelectItems"
          [itemObs]="userGroupObs"
          [config]="userGroupSelectorConfig"
          (selectedItemsChange)="onSelectUserGroup($event)"
        ></cx-select>
      </div>
      <div class="action-button mt-4">
        <button
          [disabled]="!isValidToNominate"
          class="cx-btn"
          (click)="onClickedNominate()"
        >
          Nominate
        </button>
      </div>
    </ng-container>
  </div>

  <div class="cx-panel planned-pdo-nominations__nominated">
    <div class="nominated-learners-container">
      <div class="cx-panel__label">
        NOMINATED LEARNERS
        <span
          *ngIf="learnerNominationItems && learnerNominationItems.length > 0"
        >
          ({{ learnerNominationItems.length }})</span
        >
      </div>
      <div class="nominate-list">
        <div
          *ngFor="let nominationItem of learnerNominationItems"
          class="nominate-item"
        >
          <div
            *ngIf="nominationItem.learner as learnerInfo"
            class="nominate-learner-info"
          >
            <div
              class="nominate-learner-info__avatar"
              [style.background-image]="
                'url(' + getAvatar(learnerInfo.email) + ')'
              "
            ></div>
            <div class="nominate-learner-info__text">
              <div class="nominated-learner-name">{{ learnerInfo.name }}</div>
              <div class="nominated-learner-email">{{ learnerInfo.email }}</div>
            </div>
          </div>
          <nominate-status
            [nominateItem]="nominationItem"
            [isExternalPDO]="isExternalPDO"
          ></nominate-status>
          <div
            *ngIf="nominationItem.classRun as classRunInfo"
            class="nominate-classrun-info"
          >
            <div
              *ngIf="classRunInfo.name"
              class="nominate-classrun-info__title"
              style="text-transform: capitalize"
              [attr.title]="
                'Class run:' + classRunInfo.name + ' - ' + classRunInfo.code
              "
            >
              Class run: {{ classRunInfo.name }}
            </div>
          </div>
          <div
            *ngIf="isAssignedByCurrentKLP(nominationItem)"
            class="nominate-item__by-current-klp"
          >
            BY CURRENT KLP
          </div>
          <!-- TODO: Disable remove nomination for now -->
          <!-- <i
            *ngIf="allowManagePDO"
            class="icon icon-close nominate-item__icon-close"
            (click)="onClickedRemoveNominationItem(nominationItem)"
          ></i> -->
        </div>
        <div
          *ngIf="learnerNominationItems && learnerNominationItems.length === 0"
          class="cx-panel__label-nodata"
        >
          {{
            'Odp.LearningPlan.PlannedPDODetail.NoNominatedLearners' | translate
          }}
        </div>
      </div>

      <cx-paging
        *ngIf="totalItems > 0"
        [currentPageSize]="defaultPageSize"
        [totalRecords]="totalItems"
        [recordsPerPage]="currentPageSize"
        [currentPage]="currentPageIndex"
        (currentPageChange)="onCurrentPageChange($event)"
        (pageSizeChange)="onPageSizeChange($event)"
      ></cx-paging>
    </div>

    <div class="nominated-groups-container">
      <div class="cx-panel__label">
        NOMINATED GROUPS
        <span *ngIf="groupNominationItems && groupNominationItems.length > 0">
          ({{ groupNominationItems.length }})</span
        >
      </div>

      <div class="nominate-list">
        <div
          class="nomination-container"
          *ngFor="let nominationItem of groupNominationItems; let i = index"
        >
          <div class="nominate-item">
            <div
              *ngIf="nominationItem.group as groupInfo"
              class="nominate-group-info"
              data-toggle="collapse"
              aria-expanded="false"
              [attr.data-target]="
                '#nominate-group-members-' +
                groupInfo.id +
                '-' +
                nominationItem.classRun.id
              "
              [attr.aria-controls]="
                'nominate-group-members-' +
                groupInfo.id +
                '-' +
                nominationItem.classRun.id
              "
              (click)="onClickGroupNominateItem(nominationItem)"
            >
              <div class="nominate-group-info__avatar">
                <div
                  *ngFor="let item of [1, 1, 1]"
                  class="nominate-group-avatar"
                  [style.background-image]="'url(' + defaultAvatar + ')'"
                ></div>
              </div>
              <div class="nominate-group-info__name">
                {{ groupInfo.name }} ({{ groupInfo.totalLearner }})
              </div>
            </div>
            <nominate-status
              [nominateItem]="nominationItem"
              (openDetailNominateStatus)="
                openDetailNominateStatus(nominationItem, $event)
              "
              [isExternalPDO]="isExternalPDO"
            ></nominate-status>
            <div
              *ngIf="nominationItem.classRun as classRunInfo"
              class="nominate-classrun-info"
            >
              <div
                *ngIf="classRunInfo.name"
                class="nominate-classrun-info__title"
                style="text-transform: capitalize"
                [attr.title]="
                  'Class run:' + classRunInfo.name + ' - ' + classRunInfo.code
                "
              >
                Class run: {{ classRunInfo.name }}
              </div>
            </div>
            <div
              *ngIf="isAssignedByCurrentKLP(nominationItem)"
              class="nominate-item__by-current-klp"
            >
              BY CURRENT KLP
            </div>
            <!-- TODO: Disable remove nomination for now -->
            <!-- <i
              *ngIf="allowManagePDO"
              class="icon icon-close nominate-item__icon-close"
              (click)="onClickedRemoveNominationItem(nominationItem)"
            ></i> -->
          </div>

          <div
            class="collapse nominate-group-members"
            *ngIf="
              nominationGroupDataById[
                nominationItem.group.id + '-' + nominationItem.classRun.id
              ]
            "
            id="{{
              'nominate-group-members-' +
                nominationItem.group.id +
                '-' +
                nominationItem.classRun.id
            }}"
          >
            <nomination-status-tabs
              [approvalResultModel]="nominationItem.group"
              [activeStatus]="
                nominationGroupDataById[
                  nominationItem.group.id + '-' + nominationItem.classRun.id
                ].status
              "
              [isExternalPDO]="isExternalPDO"
              (onOpenTab)="openDetailNominateStatus(nominationItem, $event)"
            ></nomination-status-tabs>

            <nomination-member-list
              [pagingLearnerResultModel]="
                nominationGroupDataById[
                  nominationItem.group.id + '-' + nominationItem.classRun.id
                ].data
              "
              (pagingChanged)="
                onPagingGroupChanged(
                  nominationItem,
                  nominationGroupDataById[
                    nominationItem.group.id + '-' + nominationItem.classRun.id
                  ].status,
                  $event
                )
              "
            ></nomination-member-list>
          </div>
        </div>
        <div
          *ngIf="groupNominationItems && groupNominationItems.length === 0"
          class="cx-panel__label-nodata"
        >
          {{
            'Odp.LearningPlan.PlannedPDODetail.NoNominatedGroups' | translate
          }}
        </div>
      </div>
    </div>

    <div class="nominated-department-container">
      <div class="cx-panel__label">NOMINATED ORGANISATION UNIT</div>
      <div class="nominate-list">
        <div
          class="nomination-container"
          *ngFor="
            let nominationItem of departmentNominationItems;
            let i = index
          "
        >
          <ng-container *ngIf="nominationItem">
            <div class="nominate-item nominate-department-item">
              <div
                class="nominate-group-info"
                data-toggle="collapse"
                aria-expanded="false"
                [attr.data-target]="
                  '#nominate-department-members-' +
                  nominationItem.department.id +
                  '-' +
                  nominationItem.classRun.id
                "
                [attr.aria-controls]="
                  'nominate-department-members-' +
                  nominationItem.department.id +
                  '-' +
                  nominationItem.classRun.id
                "
                (click)="onClickDepartmentNominateItem(nominationItem, null)"
              >
                <div class="nominate-group-info__avatar">
                  <div
                    *ngFor="let item of [1, 1, 1, 1]"
                    class="nominate-group-avatar"
                    [style.background-image]="'url(' + defaultAvatar + ')'"
                  ></div>
                </div>
                {{ nominationItem.department.name }} ({{
                  nominationItem.department.totalLearner
                }})
              </div>
              <nominate-status
                [nominateItem]="nominationItem"
                (openDetailNominateStatus)="
                  openDetailNominateDepartmentStatus(nominationItem, $event)
                "
              ></nominate-status>
              <div
                *ngIf="nominationItem.classRun as classRunInfo"
                class="nominate-classrun-info"
              >
                <div
                  *ngIf="classRunInfo.name"
                  class="nominate-classrun-info__title"
                  style="text-transform: capitalize"
                  [attr.title]="
                    'Class run:' + classRunInfo.name + ' - ' + classRunInfo.code
                  "
                >
                  Class run: {{ classRunInfo.name }}
                </div>
              </div>
              <div
                *ngIf="isAssignedByCurrentKLP(nominationItem)"
                class="nominate-item__by-current-klp"
              >
                BY CURRENT KLP
              </div>
              <!-- <i
                *ngIf="allowManagePDO"
                class="icon icon-close nominate-item__icon-close"
                (click)="onClickedRemoveNominationItem(nominationItem)"
              ></i> -->
            </div>

            <div
              class="collapse nominate-group-members"
              id="{{
                'nominate-department-members-' +
                  nominationItem.department.id +
                  '-' +
                  nominationItem.classRun.id
              }}"
            >
              <nomination-status-tabs
                *ngIf="
                  nominationDepartmentDataById[
                    nominationItem.department.id +
                      '-' +
                      nominationItem.classRun.id
                  ]
                "
                [approvalResultModel]="nominationItem.department"
                [activeStatus]="
                  nominationDepartmentDataById[
                    nominationItem.department.id +
                      '-' +
                      nominationItem.classRun.id
                  ].status
                "
                [isExternalPDO]="isExternalPDO"
                (onOpenTab)="
                  openDetailNominateDepartmentStatus(nominationItem, $event)
                "
              ></nomination-status-tabs>

              <nomination-member-list
                *ngIf="
                  nominationDepartmentDataById[
                    nominationItem.department.id +
                      '-' +
                      nominationItem.classRun.id
                  ]
                "
                [pagingLearnerResultModel]="
                  nominationDepartmentDataById[
                    nominationItem.department.id +
                      '-' +
                      nominationItem.classRun.id
                  ].data
                "
                (pagingChanged)="
                  onPagingDepartmentChanged(
                    nominationItem,
                    nominationDepartmentDataById[
                      nominationItem.department.id +
                        '-' +
                        nominationItem.classRun.id
                    ].status,
                    $event
                  )
                "
              ></nomination-member-list>
            </div>
          </ng-container>
        </div>
      </div>

      <div
        *ngIf="
          departmentNominationItems && departmentNominationItems.length === 0
        "
        class="cx-panel__label-nodata"
      >
        {{
          'Odp.LearningPlan.PlannedPDODetail.NoNominatedDepartment' | translate
        }}
      </div>
    </div>
  </div>
</div>
