<div class="assignment-question-template">
  <div>
    <ng-container>
      <div class="assignment-question-template__item"
           (click)="onQuestionTemplateClick(QuizAssignmentQuestionType.FreeText)">
        <div class="assignment-question-template__type-container">
          <div>{{'Free Text' | translator}}</div>
          <i class="icon sm add-revert"></i>
        </div>
        <div class="assignment-question-template__input-container">
          <div class="assignment-question-template__free-text-input --row">
            <div class="assignment-question-template__gray-placeholder"
                 style="width: 50%;"></div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container>
      <div class="assignment-question-template__item"
           (click)="onQuestionTemplateClick(QuizAssignmentQuestionType.TrueFalse)">
        <div class="assignment-question-template__type-container">
          <div>{{'True / False' | translator}}</div>
          <i class="icon sm add-revert"></i>
        </div>
        <div class="assignment-question-template__input-container --row">
          <div class="assignment-question-template__option-container">
            <div class="assignment-question-template__radio-checkbox"></div>
            <div>{{'True' | translator}}</div>
          </div>
          <div class="assignment-question-template__option-container">
            <div class="assignment-question-template__radio-checkbox"></div>
            <div>{{'False' | translator}}</div>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="assignment-question-template__item"
         (click)="onQuestionTemplateClick(QuizAssignmentQuestionType.SingleChoice)">
      <div class="assignment-question-template__type-container">
        <div>{{'Radio buttons' | translator}}</div>
        <i class="icon sm add-revert"></i>
      </div>
      <div class="assignment-question-template__input-container --column">
        <div class="assignment-question-template__option-container">
          <div class="assignment-question-template__radio-checkbox"></div>
          <div class="assignment-question-template__gray-placeholder"
               style="width: 70%;"></div>
        </div>
        <div class="assignment-question-template__option-container">
          <div class="assignment-question-template__radio-checkbox"></div>
          <div class="assignment-question-template__gray-placeholder"
               style="width: 80%;"></div>
        </div>
      </div>
    </div>
    <div class="assignment-question-template__item"
         (click)="onQuestionTemplateClick(QuizAssignmentQuestionType.MultipleChoice)">
      <div class="assignment-question-template__type-container">
        <div>{{'Checkboxes' | translator}}</div>
        <i class="icon sm add-revert"></i>
      </div>
      <div class="assignment-question-template__input-container --column">
        <div class="assignment-question-template__option-container">
          <div class="assignment-question-template__rectangle-checkbox"></div>
          <div class="assignment-question-template__gray-placeholder"
               style="width: 70%;"></div>
        </div>
        <div class="assignment-question-template__option-container">
          <div class="assignment-question-template__rectangle-checkbox"></div>
          <div class="assignment-question-template__gray-placeholder"
               style="width: 80%;"></div>
        </div>
      </div>
    </div>
    <ng-container>
      <div class="assignment-question-template__item"
           (click)="onQuestionTemplateClick(QuizAssignmentQuestionType.DropDown)">
        <div class="assignment-question-template__type-container">
          <div>{{'Drop down' | translator}}</div>
          <i class="icon sm add-revert"></i>
        </div>
        <div class="assignment-question-template__input-container">
          <div class="assignment-question-template__gray-placeholder k-icon k-i-arrow-60-down icon center"
               style="width: 80%;"></div>
        </div>
      </div>
    </ng-container>
    <ng-container>
      <div class="assignment-question-template__item"
           (click)="onQuestionTemplateClick(QuizAssignmentQuestionType.FillInTheBlanks)">
        <div class="assignment-question-template__type-container">
          <div>{{'Fill in The Blanks' | translator}}</div>
          <i class="icon sm add-revert"></i>
        </div>
        <div class="assignment-question-template__input-container">
          <div class="assignment-question-template__flex-line">
            <span class="assignment-question-template__gray-fragment"></span>
            <span class="assignment-question-template__border-bottom-fragment"></span>
            <span class="assignment-question-template__gray-fragment"></span>
          </div>
          <div class="assignment-question-template__gray-placeholder"></div>
        </div>
      </div>
    </ng-container>
    <ng-container>
      <div class="assignment-question-template__item"
           (click)="onDateQuestionTemplateClicked()">
        <div class="assignment-question-template__type-container">
          <div>{{'Date Picker' | translator}}</div>
          <i class="icon sm add-revert"></i>
        </div>
        <div class="assignment-question-template__input-container">
          <div class="assignment-question-template__flex-line">
            <span class="assignment-question-template__gray-date"></span>
            <span class="assignment-question-template__gray-date"></span>
            <span class="assignment-question-template__gray-date"></span>
            <span class="assignment-question-template__gray-date"></span>
            <span class="assignment-question-template__gray-date"></span>
            <span class="assignment-question-template__gray-date"></span>
            <span class="assignment-question-template__gray-date"></span>
          </div>
          <div class="assignment-question-template__flex-line">
            <span class="assignment-question-template__gray-date"></span>
            <span class="assignment-question-template__gray-date"></span>
            <span class="assignment-question-template__gray-date"></span>
            <span class="assignment-question-template__dark-gray-date"></span>
            <span class="assignment-question-template__dark-gray-date"></span>
            <span class="assignment-question-template__dark-gray-date"></span>
            <span class="assignment-question-template__dark-gray-date"></span>
          </div>
          <div class="assignment-question-template__flex-line">
            <span class="assignment-question-template__dark-gray-date"></span>
            <span class="assignment-question-template__dark-gray-date"></span>
            <span class="assignment-question-template__dark-gray-date"></span>
            <span class="assignment-question-template__dark-gray-date"></span>
            <span class="assignment-question-template__dark-gray-date"></span>
            <span class="assignment-question-template__gray-date"></span>
            <span class="assignment-question-template__gray-date"></span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
