<div class="content-management-container">
  <div class="content-management detail-page"
       [ngClass]="{ '-loading': loadingLearningPathCourses}">
    <div class="toolbar"
         stickyElement
         #learningPathDetailStickyToolbarElement="stickyElement">
      <div class="toolbar__left-container">
        <div class="toolbar__left-group">
          <button class="toolbar__left-group__back-button"
                  kendoButton
                  [icon]="'arrow-chevron-left'"
                  [look]="'flat'"
                  (click)="onClickBack()">
            {{ 'Back' | translator }}
          </button>
          <div class="toolbar__left-group__title-group"
               kendoTooltip
               [tooltipClass]="'info-tooltip'">
            <breadcrumb *ngIf="breadCrumbItems.length > 0"
                        [items]="breadCrumbItems"></breadcrumb>
            <span class="toolbar__left-group__title-group__title">
              <span class="text-box"
                    [title]="title"> {{ title }} </span>
              <copy-learning-path-hyperlink [learningPath]="learningPathDetailVM.learningPath"></copy-learning-path-hyperlink>
            </span>
          </div>
        </div>
      </div>
      <div class="toolbar__center-container">
      </div>
      <div class="toolbar__right-container">
        <div class="toolbar__right-group-buttons">
          <div class="toolbar__right-group-buttons__status">
            <status-indicator [currentStatus]="learningPathDetailVM.status ? learningPathDetailVM.status : LearningPathStatus.Unpublished"
                              [mapping]="learningPathStatusColorMap"></status-indicator>
          </div>
          <button-group [buttons]="buttonGroup"></button-group>
        </div>
      </div>
    </div>
    <div class="populate-container"
         *ngIf="showPopulateMetadataLPButton()">
      <button class="populate-container__populate-button"
              [primary]="true"
              [disabled]="learningPathDetailVM.listCourses.length == 0"
              (click)="onClickPopulate()"
              kendoButton>{{ 'Populate' | translator }}</button>
    </div>

    <kendo-tabstrip class="opal-tabstrip detail-page__content-tabs top-merge"
                    [animate]="false"
                    (tabSelect)="onTabSelected($event)"
                    stickyTabHeaderElement
                    #learningPathDetailStickyTabHeaderElement="stickyTabHeaderElement"
                    [stickyDependElement]="learningPathDetailStickyToolbarElement.element">
      <kendo-tabstrip-tab [selected]="selectedTab === LMMTabConfiguration.LearningPathInfoTab">
        <ng-template kendoTabTitle="">
          {{ 'Information' | translator }}
        </ng-template>
        <ng-template kendoTabContent="">
          <learning-path-detail [mode]="detailPageInput.data.mode"
                                [learningPathDetailVM]="learningPathDetailVM"
                                [form]="form"
                                [openCoursePreviewDialogFn]="openCoursePreviewDialogFn"
                                [stickyDependElement]="learningPathDetailStickyTabHeaderElement.headerElement"
                                [stickySpacing]="stickySpacing"></learning-path-detail>
        </ng-template>
      </kendo-tabstrip-tab>
    </kendo-tabstrip>
  </div>
</div>
