<div class="system-role-header-container">
  <div class="header-name">
    <div class="header-name__input">
      {{ colName }}
    </div>
    <!-- <span>{{colId}}</span> -->
  </div>
  <div
    [hidden]="isHidden$ | async"
    class="default-action"
  >
    <ng-template
      [ngIf]="!isEditing"
      [ngIfElse]="systemRoleActions"
    >
      <img
        class="role-action"
        *ngIf="isShow"
        src="assets/icons/horizontal-meatball.svg"
        title="Menu"
        [matMenuTriggerFor]="systemRoleMenu"
      />
      <mat-menu
        class="role-menu-content"
        #systemRoleMenu="matMenu"
        xPosition="after"
      >
        <button
          (click)="onDuplicateClicked()"
          mat-menu-item
        >Duplicate</button>
        <button
          *ngIf="!extraAttributes.isDefaultSystemRole"
          (click)="onEditRoleClicked()"
          mat-menu-item
        >
          Edit Role
        </button>
        <button
          (click)="onEditPermissionsClicked()"
          mat-menu-item
        >
          Edit Permissions
        </button>
      </mat-menu>
    </ng-template>
    <ng-template #systemRoleActions>
      <img
        class="role-action"
        src="assets/icons/close.svg"
        title="Cancel"
        (click)="onCancelIconClicked()"
      />
      <img
        class="role-action"
        title="Save"
        src="assets/icons/save.svg"
        (click)="onSaveIconClicked()"
      />
    </ng-template>
  </div>
</div>