.dialog-container {
  height: 100%;

  .mat-dialog-content {
    min-height: 450px;

    .header-name {
      .role-label {
        margin: 10px;
      }
    }

    .role-validations {
      color: red;
    }

    .description {
      margin: 10px;
    }

    .checkbox-section {
      display: flex;
      flex-wrap: wrap;

      &__left-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        &__item {
          padding-bottom: 10px;
        }
      }

      &__right-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        &__item {
          padding-bottom: 10px;
        }
      }
    }
  }

  .mat-dialog-actions {
    .buttons-container {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .cx-btn {
      }

      .cx-sub-btn {
        background-color: white !important;
        color: rgba(48, 52, 80, 1) !important;
      }
    }
  }
}
