<div class="learning-card"
     [ngClass]="{ 'display-only': displayOnlyMode}">
  <div>
    <div class="info-container"
         (click)="onDigitalContentCardClick()">
      <span class="card-status"
            *ngIf="learningCardItem.learningStatus === MyDigitalContentStatus.InProgress || learningCardItem.learningStatus === MyDigitalContentStatus.Completed"
            [ngClass]="{
   'in-progress': learningCardItem.learningStatus === MyDigitalContentStatus.InProgress,
   'completed': learningCardItem.learningStatus === MyDigitalContentStatus.Completed}">
        {{ learningStatusText | translator}}
      </span>
      <div class="course-img">
        <img src="{{ learningCardItem.imageUrl }}"
             *ngIf="learningCardItem.imageUrl">
      </div>
      <div class="card-info">
        <span class="general-info">
          <div class="rating-stars-container">
            <i class="icon tiny {{ learningCardItem.rating < 1 ? 'star-outline' : 'star' }}"></i>
            <i class="icon tiny {{ learningCardItem.rating >= 2 ? 'star' : 'star-outline' }}"></i>
            <i class="icon tiny {{ learningCardItem.rating === 3 ? 'star' : 'star-outline' }}"></i>
            <div>{{ learningCardItem.rating }}&nbsp;</div>
            <span class="reviews-text">
              ({{ learningCardItem.reviewsCount }}
              {{(learningCardItem.reviewsCount > 1 ? "reviews" : "review") | translator}})
            </span>
          </div>
        </span>
        <div class="card-title"
             [title]="learningCardItem.title">{{ learningCardItem.title }}</div>
        <!-- <div class="general-info">
          <div class="uploaded-date">
            {{"UPLOADED" | translator}}: {{ learningCardItem.uploadedDate | date: 'dd/MM/yyyy'}}
          </div>
        </div> -->
        <!-- TODO: hard code here -->
        <div class="tags">
          <span class="tag-item"
                *ngFor="let tag of learningCardItem.tags.slice(0, 2)"
                [title]="tag | translator">{{ tag | translator}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="save-course"
       *ngIf="showBookmark"
       (click)="onBookmarkChange()">
    <i class="icon {{ learningCardItem.isBookmark ? 'save' : 'save-outline' }}"></i>
  </div>
</div>
