<ng-container *ngIf="!isSearchingWithText">
  <div class="quick-status-filter">
    <div class="status-label mb-20">
      {{'Status:' | translator}}
    </div>
    <div class="quick-status-list"
         *ngFor="let stt of statusFilter"
         (click)="onQuickStatusFilterChanged(stt.status)">
      <input class="k-radio"
             id="{{stt.status}}"
             name="statusFilter"
             type="radio"
             [value]="stt.status"
             [checked]="currentMyStatusFilter == stt.status">
      <label class="k-radio-label"
             for="{{stt.status}}">{{stt.displayText | translator}}</label>
    </div>
  </div>
</ng-container>

<learner-search-filter-result *ngIf="isSearchingWithText"
                              [placeholderText]="'Search course' | translator"
                              [searchText]="searchingText"
                              [filterByType]="filterByType"
                              [getPagedSearchFilterCallBack]="getPagedSearchFilterCallBack.bind(this)"
                              (learningCardClick)="onLearningCardClick($event)">
</learner-search-filter-result>

<learning-card-list #myCoursesList
                    *ngIf="!isSearchingWithText"
                    [getPagedLearningItemsCallback]="getMyCoursesCallBack.bind(this)"
                    (learningCardClick)="onLearningCardClick($event)"
                    showLongCard="true"></learning-card-list>
