<div class="learning-feedbacks__finish-screen"
     *ngIf="learningId">
  <div class="learning-feedbacks__course-complete-icon-container">
    <i class="icon course-complete-circle learning-feedbacks__course-complete-icon"></i>
  </div>
  <div class="learning-feedbacks__congrats-text">{{"Congratulations" | translator}}!</div>
  <div class="learning-feedbacks__complete-text">{{"You have completed" | translator}} "{{learningTitle}}"</div>

  <ng-container *ngIf="configuration">
    <ng-container *ngIf="!displayMode">
      <div class="learning-feedbacks__comment-text"
           *ngIf="isShow(configuration.rating) && isShow(configuration.review)">{{"Leave a comment and rate this content" | translator}}
      </div>
      <div class="learning-feedbacks__comment-text"
           *ngIf="isShow(configuration.rating) && !isShow(configuration.review)">{{"Rate this content" | translator}}</div>
      <div class="learning-feedbacks__comment-text"
           *ngIf="isShow(configuration.review) && !isShow(configuration.rating)">{{"Leave a comment" | translator}}</div>
      <div class="learning-feedbacks__comment-warning-text"
           *ngIf="isShow(configuration.review)">
        ({{"Your review will be shared at the content information page." | translator}})
      </div>
    </ng-container>

    <div [formGroup]="form">
      <div class="learning-feedbacks__section"
           *ngIf="isShow(configuration.rating)">
        <editable [modeView]="displayMode">
          <ng-template editableViewMode="">
            <div class="learning-feedbacks__comment-text"
                 *ngIf="isReviewExisted && review.rate">{{"Your Rating" | translator}}</div>
            <rating-stars class="learning-feedbacks__rating-stars"
                          size="lg"
                          [(ngModel)]="rating"
                          [clickable]="false"
                          formControlName="rating"
                          kendoErrorTooltip></rating-stars>
          </ng-template>
          <ng-template editableEditMode="">
            <rating-stars class="learning-feedbacks__rating-stars"
                          size="lg"
                          [(ngModel)]="rating"
                          [clickable]="true"
                          formControlName="rating"
                          kendoErrorTooltip></rating-stars>
          </ng-template>
        </editable>
      </div>

      <div class="learning-feedbacks__section"
           *ngIf="isShow(configuration.review)">
        <editable [modeView]="displayMode">
          <ng-template editableViewMode="">
            <div class="learning-feedbacks__comment-text"
                 *ngIf="isReviewExisted && review.commentContent">{{"Your Feedback" | translator}}</div>
            <div class="learning-feedbacks__comment-content"
                 multilineText>{{reviewComment}}</div>
          </ng-template>
          <ng-template editableEditMode="">
            <textarea class="learning-feedbacks__comment-textarea"
                      maxlength="2000"
                      [(ngModel)]="reviewComment"
                      formControlName="comment"
                      kendoErrorTooltip></textarea>
          </ng-template>
        </editable>
      </div>
    </div>

  </ng-container>

  <button class="learning-feedbacks__action-btn"
          *ngIf="configuration.allowToEdit && isReviewExisted && displayMode"
          kendoButton
          [primary]="false"
          (click)="onEditFeedback()">{{"Edit feedback" | translator}}</button>
  <button class="learning-feedbacks__action-btn mt-10"
          kendoButton
          *ngIf="canSubmitReview"
          [primary]="true"
          (click)="onSubmit()">{{"Submit" | translator}}</button>
  <button class="learning-feedbacks__action-btn mt-10"
          *ngIf="!canSubmitReview"
          kendoButton
          [primary]="true"
          (click)="onFinish()">{{"Finish" | translator}}</button>
</div>
