<div class="learner-course-detail"
     *ngIf="digitalContentId && itemDetail">
  <ng-container *ngIf="!showLecturePlayer">
    <div class="learner-course-detail__sort-detail-container">
      <div class="learner-course-detail__learning-card-container">
        <div class="learner-course-detail__back"
             (click)="onBackClick()">
          <i class="icon back"></i>
          {{"Back" | globalTranslator}}
        </div>
        <digital-content-card *ngIf="learningItem"
                              [displayOnlyMode]="true"
                              [learningCardItem]="learningItem"
                              [showBookmark]="false"></digital-content-card>
        <div *hasPermission="[startLearningPermissionKey, itemDetail.myDigitalContent == null]"
             class="learner-primary-btn learner-course-detail__course-action"
             (click)="startLearning()">
          {{"Start Learning" | globalTranslator}}
        </div>
        <div class="learner-primary-btn learner-course-detail__course-action"
             *ngIf="itemDetail.myDigitalContent && itemDetail.myDigitalContent.status === MyDigitalContentStatus.InProgress"
             (click)="continue()">
          {{"Continue" | globalTranslator}}
        </div>
        <div class="learner-primary-btn learner-course-detail__course-action"
             *ngIf="itemDetail.myDigitalContent && itemDetail.myDigitalContent.status === MyDigitalContentStatus.Completed"
             (click)="learnAgain()">
          {{"Learn again" | translator}}
        </div>
      </div>
    </div>
    <div class="learner-course-detail__course-detail-container">
      <div class="learner-course-detail__bookmark-section-wrapper">
        <div class="learner-course-detail__section learner-course-detail__bookmark-section">
          <div class="learner-course-detail__nav-container"
               *ngFor="let item of visibleSections; index as i">
            <div class="learner-course-detail__nav-item"
                 [ngClass]="{ '--active': currentActiveSectionNumber === i + 1 }"
                 (click)="scrollTo(item.section.nativeElement, i + 1)">
              {{ item.text | translator }}
            </div>
          </div>
          <div class="learner-section-container">
            <kendo-dropdownbutton [data]="visibleSections"
                                  [popupSettings]="{ popupClass: 'learner-section-modes' }"
                                  [primary]="false"
                                  (itemClick)="onSelectSection($event.text)"
                                  [buttonClass]="'k-button-preview'">
              {{ firstSection }}
            </kendo-dropdownbutton>
          </div>
          <div *ngIf="hasLikeShareCopyPermission || hasBookmarkPermission"
               class="learner-course-detail__group-button">
            <ng-container *ngIf="hasLikeShareCopyPermission">
              <div class="learner-course-detail__like">
                <i class="icon"
                   [ngClass]="[isLike ? 'liked' : 'like']"
                   (click)="toggleLike()"></i>
              </div>
              <div class="learner-course-detail__text">
                <span>{{totalLike}} {{ (totalLike > 1 ? "Likes" : "Like") | translator }}</span>
              </div>
            </ng-container>
            <div class="learner-course-detail__showmore">
              <img class="icon action"
                   src="assets/images/icons/more-dard.svg"
                   #contextMenu>
              <kendo-contextmenu [target]="contextMenu"
                                 [alignToAnchor]="true"
                                 [anchorAlign]="anchorAlign"
                                 [popupAlign]="popupAlign"
                                 showOn="click"
                                 (select)="onContextMenuItemSelect($event.item.data)">
                <kendo-menu-item *ngIf="hasLikeShareCopyPermission"
                                 [text]="'Share' | translator"
                                 [data]="{ id: 'share' }">
                  <ng-template kendoMenuItemTemplate
                               let-item="item">
                    <i [ngClass]="'icon-learner shared'"></i>
                    {{item.text}}
                  </ng-template>
                </kendo-menu-item>
                <kendo-menu-item *ngIf="hasLikeShareCopyPermission"
                                 [text]="'Copy URL' | translator"
                                 [data]="{ id: 'copy' }">
                  <ng-template kendoMenuItemTemplate
                               let-item="item">
                    <i [ngClass]="'icon-learner copy'"></i>
                    {{item.text}}
                  </ng-template>
                </kendo-menu-item>
                <kendo-menu-item *ngIf="hasBookmarkPermission"
                                 [text]="(itemDetail?.bookmarkInfo ? 'Remove From Bookmark' : 'Add To Bookmark') | translator"
                                 [data]="{ id: 'bookmarks' }">
                  <ng-template kendoMenuItemTemplate
                               let-item="item">
                    <div *ngIf="itemDetail?.bookmarkInfo; else elseUnbookmark">
                      <i class="icon-learner save">
                        <div class="path1"></div>
                        <div class="path2"></div>
                      </i>
                    </div>
                    <ng-template #elseUnbookmark=""><i class="icon-learner save-outline"></i></ng-template>
                    {{item.text}}
                  </ng-template>
                </kendo-menu-item>
              </kendo-contextmenu>
            </div>
          </div>
        </div>
      </div>

      <div class="learner-course-detail__section learner-course-detail__about-section mt-30"
           #informationSection>
        <ng-container>
          <div class="learner-course-detail__section-title --sub-title">{{"Information" | translator}}</div>
          <div class="learner-course-detail__info-container"
               *ngIf="itemDetail.digitalContent">
            <div class="learner-course-detail__info-item">
              <div class="learner-course-detail__info-title">{{"Title" | translator}}</div>
              <div>
                {{ itemDetail.digitalContent.title }}
              </div>
            </div>
            <div class="learner-course-detail__info-item">
              <div class="learner-course-detail__info-title">{{"Description" | translator}}</div>
              <div>{{ itemDetail.digitalContent.description ? itemDetail.digitalContent.description : 'N/A' }}</div>
            </div>
            <div class="learner-course-detail__info-item">
              <div class="learner-course-detail__info-title">{{"Type" | translator}}</div>
              <div class="learner-course-detail__file-type">
                <img class="learner-course-detail__type-icon"
                     src="assets/images/icons/sm/{{fileType}}.svg"
                     *ngIf="fileType">{{ fileType }}</div>
            </div>
            <div class="learner-course-detail__info-item">
              <div class="learner-course-detail__info-title">{{"Upload date" | translator}}</div>
              <div>{{itemDetail.digitalContent.createdDate | date: 'dd/MM/yyyy'}}</div>
            </div>
            <div class="learner-course-detail__info-item">
              <div class="learner-course-detail__info-title">{{"Number of views" | translator}}</div>
              <div>{{totalView}}</div>
            </div>
            <div class="learner-course-detail__info-item">
              <div class="learner-course-detail__info-title">{{"Number of downloads" | translator}}</div>
              <div>{{totalDownload}}</div>
            </div>
            <div class="learner-course-detail__info-item">
              <div class="learner-course-detail__info-title">{{"Number of shares" | translator}}</div>
              <div>{{totalShare}}</div>
            </div>
          </div>
        </ng-container>
        <div *ngIf="showMoreInfo">
          <learner-digital-content-more-detail [digitalContent]="itemDetail"></learner-digital-content-more-detail>
        </div>

        <div class="learner-course-detail__show-more"
             (click)="showMoreInfo = !showMoreInfo">{{ showMoreInfo ?
               ("Show less" | translator) : ("Show more" | translator)}}
        </div>
      </div>

      <div class="learner-course-detail__section learner-course-detail__review-section"
           #reviewSection>
        <learner-review-list [itemId]="digitalContentId"
                             [reviewType]="reviewType"
                             [feedbackConfig]="reviewConfig"
                             (showMore)="onReviewShowMore()"></learner-review-list>
      </div>
    </div>
  </ng-container>

  <learner-digital-content-player class="learner-course-detail__lecture-player"
                                  *ngIf="showLecturePlayer"
                                  [digitalContent]="itemDetail"
                                  (backClick)="onContentPlayerBackClick()"></learner-digital-content-player>
</div>
