@import 'assets/styles/variables.scss';

::ng-deep {
  .modal-content {
    width: 100%;

    .modal-body {
      overflow-x: auto;
    }

    .invalid-users-creation-table {
      & > tr:not(:first-child) {
        & > td {
          max-width: 200px;
          & div {
            white-space: break-spaces;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  .modal-size-xl > div {
    width: 90vw;
    max-width: unset !important;
  }
}
