@import 'assets/styles/variables.scss';

::ng-deep {
  .modal-content {
    width: fit-content;
  }
}

invalid-users-creation-record-dialog {
  display: block;

  .catalog-title {
    font-size: 36px;
  }

  .catalog-toolbar {
    margin-top: 30px;
  }

  .catalog-toolbar-mobile {
    display: none;
  }

  modal-header {
    width: 100%;
  }

  @media only screen and (max-width: $screen-xs-max) {
    .cx-dialog-template {
      .modal-header {
        .catalog-toolbar {
          display: none;
        }
      }

      .modal-body {
        padding: 10px;
        margin: 0;

        .invalid-users-creation-content {
          width: 500px;
        }
      }
    }
  }
}
