@import '../../assets/styles/variables.scss';

app-header {
  .app-header {
    height: auto;
    background: #fff;
    top: 0;
    width: 100vw;
    z-index: 10;

    .cx-header {
      background: #fff;

      .cx-header-content {
        .general-search-box {
          input:placeholder-shown {
            text-overflow: ellipsis;
          }

          .search-input {
            width: 100%;
            font-size: 12px;
          }
        }
      }
    }

    &__placeholder {
      display: none;
      background-color: #fff;
    }

    .hideSearchBar {
      .cx-header .cx-header-content .general-search-box {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .app-header {
    &__nav-bar {
      display: inline;
    }
  }
}

@media only screen and (max-width: 767px) {
  .cx-header .general-search-box {
    display: flex !important;
    margin-right: 0 !important;
    input {
      min-width: auto !important;
      padding: 8px 40px 8px 10px !important;
    }
  }

  .hideSearchBar {
    .cx-header .cx-header-content .general-search-box {
      display: none !important;
    }
  }
}
