form-repository-page {
  max-height: 100%;
}

.form-repository-page {
  &__item-title {
    display: flex;
    align-items: center;

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .grid-file-type {
      margin-right: 15px;
      min-width: 36px;
    }
  }
}
