announcement-detail-dialog {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.announcement-detail-dialog {
  &__tabstrip {
    max-height: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
  }

  &__recipients {
    .k-grid tr {
      box-shadow: none !important;
    }
  }
}
