.metadata-select-deselect-all-node-template {
  &__select-all-option {
    margin-left: 15px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    color: $color-blue-jay;

    &:hover,
    &:focus {
      font-weight: bold;
    }
  }

  &__symbol {
    margin: 0 5px;
    font-size: 14px;
    font-weight: bold;
  }

  &__deselect-all-option {
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    color: $color-blue-jay;

    &:hover,
    &:focus {
      font-weight: bold;
    }
  }
}
