question-title-editor {
  &.border-error {
    border-radius: 5px;
    padding: 5px;
  }

  .actions {
    margin-top: 10px;
  }

  .edit-icon {
    float: right;
    cursor: pointer;
    margin-right: 15px;
  }

  .placeholder {
    cursor: pointer;
  }
}
