<cx-dialog-template
  [cancelButtonText]="'Cancel'"
  [doneButtonDisabled]="doneButtonDisabled"
  [doneButtonText]="doneButtonText"
  (cancel)="onCancel()"
  (done)="onComplete()"
>
  <modal-header>
    <h3>Confirmation</h3>
  </modal-header>
  <content>
    <input
      *ngIf="showDatePicker"
      type="date"
      [value]="expirationDate"
      [min]="minDate"
      (input)="onDateChanged($event.target.value)"
      matInput
    />
    <h5>
      {{
        message
          | translate: { selectedItemMapLength: number, newStatus: status }
      }}
    </h5>
    <div
      *ngIf="showRejectComment"
      class="form-group"
    >
      <textarea
        cxFocus
        class="form-control"
        [(ngModel)]="rejectReason"
        rows="3"
        maxlength="1000"
        placeholder="{{
          'User_Account_Page.User_List.Reject_Place_Holder' | translate
        }}"
      ></textarea>
    </div>

    <!-- First approval form -->
    <div
      *ngIf="isFirstLevelApproval"
      class="first-approval-container"
    >
      <p>
        {{
          'User_Account_Page.User_List.Confirm_Dialog.Instruction_First_Level_Approval'
            | translate
        }}
      </p>
      <approval-info
        [(approvalData)]="firstLevelApprovalData"
        [userDepartmentId]="firstLevelApprovalDepartmentId"
        [requirePrimaryApprovingOfficer]="true"
        [departmentTypes]="firstLevelApprovalDepartmentTypes"
        [systemRoles]="getUsersSystemRoles()"
      >
      </approval-info>
    </div>

    <!-- End of first approval form -->

    <!-- Final approval form -->
    <div
      *ngIf="isFinalApproval"
      class="final-approval-container"
    >
      <p *ngIf="isProcessingSingleUser">
        {{
          'User_Account_Page.User_List.Confirm_Dialog.Instruction_Final_Approval_Single_User'
            | translate
        }}
      </p>
      <p *ngIf="!isProcessingSingleUser">
        {{
          'User_Account_Page.User_List.Confirm_Dialog.Instruction_Final_Approval_Multi_User'
            | translate
        }}
      </p>
      <cx-surveyjs
        #approveUserSurveyForm
        [data]="approveUserData"
        [hideSubmitBtn]="true"
        [json]="approveUserFormJSON"
        (submitting)="onSubmittingApproveUserForm($event)"
        (valueChanged)="onApproveUserChanged($event)"
      >
      </cx-surveyjs>
    </div>
    <!-- End of final approval form -->
  </content>
</cx-dialog-template>