registry=https://registry.npmjs.org/
@thunder:registry=https://pkgs.dev.azure.com/orientsoftwaredevelopment/_packaging/LocalPackages/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 12/7/2019.
; begin auth token
//pkgs.dev.azure.com/orientsoftwaredevelopment/_packaging/LocalPackages/npm/registry/:username=LocalPackages
//pkgs.dev.azure.com/orientsoftwaredevelopment/_packaging/LocalPackages/npm/registry/:_password=bWRwdGFueXlxYmlwbmkzdXFyNnBua3ByanprN3F2d2Z3b2U0YTVsNnBobXF1eWo1cmhocQ==
//pkgs.dev.azure.com/orientsoftwaredevelopment/_packaging/LocalPackages/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/orientsoftwaredevelopment/_packaging/LocalPackages/npm/:username=LocalPackages
//pkgs.dev.azure.com/orientsoftwaredevelopment/_packaging/LocalPackages/npm/:_password=bWRwdGFueXlxYmlwbmkzdXFyNnBua3ByanprN3F2d2Z3b2U0YTVsNnBobXF1eWo1cmhocQ==
//pkgs.dev.azure.com/orientsoftwaredevelopment/_packaging/LocalPackages/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
