.display-value {
    overflow: auto;
}

.container {
    display: flex;
}

.extension-items {
    display: flex;
    justify-content: space-between;
}
.dddd {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
