.broadcast-message-notification-container {
  padding: 15px $main-grid-unit * 6;

  iframe {
    width: 100%;
    border: none;
  }

  &.empty {
    padding: 0;
    margin: 0;
    height: 0;

    iframe {
      height: 0;
    }
  }
}

@include flex-layout-media('tablet-portrait') {
  .broadcast-message-notification-container {
    padding-left: 3 * $main-grid-unit;
    padding-right: 3 * $main-grid-unit;
  }
}

@include flex-layout-media('lt-mobile') {
  .broadcast-message-notification-container {
    padding-left: 2 * $main-grid-unit;
    padding-right: 2 * $main-grid-unit;
  }
}
