.data-filter {
  display: flex;
  flex-direction: row;

  &__filter-container {
    display: flex;
    position: relative;
    margin-right: 10px;
  }

  &__has-data-indicator {
    width: 12px;
    height: 12px;
    background-color: #dd5050;
    border-radius: 50%;
    position: absolute;
    right: -4px;
    top: 0;
  }
}

.data-filter-popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.3;
  z-index: 100;
}
