.reschedule-date-info {
  p {
    margin: 0px 0px 5px 0px;
  }

  &__previous-date {
    margin: 2px 0px !important;
    text-decoration: line-through;
  }

  &__new-date {
    margin: 2px 0px !important;
    font-weight: bold;
  }
}
