<div class="container webinar-container">
  <img class="center"
       src="assets/images/logos/opal_prod.png"
       alt="frame">
  <div class="show-spinner">
    <div class="spinner"
         id="app-loader">
      <div class="spinner__container">
        <div class="spinner__part part-1 animation scale">
          <div class="animation rotate">
            <div class="hightlight"></div>
          </div>
        </div>
        <div class="spinner__part part-2 animation scale">
          <div class="animation rotate">
            <div class="hightlight"></div>
          </div>
        </div>
        <div class="spinner__part part-4 animation scale">
          <div class="animation rotate">
            <div class="hightlight"></div>
          </div>
        </div>
        <div class="spinner__part part-3 animation scale">
          <div class="animation rotate">
            <div class="hightlight"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <p class="card-text">
      <u>{{ 'Please wait for initializing meeting' | translator }}</u>
    </p>
  </div>
</div>
