<!---->
<div class="ng-tns-c12-2  nav-left-side">
  <div class="docs-component-viewer-nav">
    <div class="docs-component-viewer-nav-content">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Form Controls
          </mat-panel-title>
        </mat-expansion-panel-header>

        <nav>
          <ul class="ng-tns-c14-25 ng-trigger ng-trigger-bodyExpansion" id="panel-forms" style="display: block;">
            <!---->
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" [routerLink]="['/components', 'button']" routerLinkActive="active">Button</a>
            </li>
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" [routerLink]="['/components', 'universal-toolbar']" routerLinkActive="active">Universal Toolbar</a>
            </li>
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" [routerLink]="['/components', 'datetime-picker']"
                routerLinkActive="active">Datetime picker</a>
            </li>
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" [routerLink]="['/components', 'tree']" routerLinkActive="active">Tree</a>
            </li>
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" [routerLink]="['/components', 'node']" routerLinkActive="active">Node</a>
            </li>
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" [routerLink]="['/components', 'narrow-tree']" routerLinkActive="active">Narrow
                tree</a>
            </li>
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" [routerLink]="['/components', 'items-table']" routerLinkActive="active">Items
                Table</a>
            </li>
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" [routerLink]="['/components', 'table']" routerLinkActive="active">Table</a>
            </li>
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" [routerLink]="['/components', 'tree-dropdown']" routerLinkActive="active">Tree
                Dropdown</a>
            </li>
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" [routerLink]="['/components', 'check-box']" routerLinkActive="active">Check
                box</a>
            </li>
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" [routerLink]="['/components', 'bread-crumb']"
                routerLinkActive="active">BreadCrumb</a>
            </li>
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" [routerLink]="['/components', 'surveyjs']" routerLinkActive="active">SurveyJs</a>
            </li>
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" [routerLink]="['/components', 'slidebar']" routerLinkActive="active">Slidebar</a>
            </li>
          </ul>
        </nav>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Navigation
          </mat-panel-title>
        </mat-expansion-panel-header>

        <nav>
          <ul class="ng-tns-c14-25 ng-trigger ng-trigger-bodyExpansion" id="panel-forms" style="display: block;">
            <!---->
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" [routerLink]="['/components', 'header']" routerLinkActive="active">Menu
                Header</a>
            </li>
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" [routerLink]="['/components', 'tab-navigation']" routerLinkActive="active">Tab
                Navigation</a>
            </li>
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" [routerLink]="['/components', 'tab-navigation']"
                routerLinkActive="active">Pipe</a>
            </li>
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" [routerLink]="['/components', 'sidebar-menu']" routerLinkActive="active">Sidebar
                Menu</a>
            </li>
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" [routerLink]="['/components', 'navbar']" routerLinkActive="active">Navbar</a>
            </li>
          </ul>
        </nav>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Indicators
          </mat-panel-title>
        </mat-expansion-panel-header>

        <nav>
          <ul class="ng-tns-c14-25 ng-trigger ng-trigger-bodyExpansion" id="panel-forms" style="display: block;">
            <!---->
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" [routerLink]="['/components', 'date-picker']" routerLinkActive="active">Date
                picker</a>
            </li>
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" [routerLink]="['/components', 'serach-box']" routerLinkActive="active">Search
                box</a>
            </li>
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" [routerLink]="['/components', 'alert']" routerLinkActive="active">Alert</a>
            </li>
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" [routerLink]="['/components', 'expandable-list']"
                routerLinkActive="active">Expandable List</a>
            </li>
            <li class="ng-tns-c14-25 ">
                <a class="ng-tns-c14-25" [routerLink]="['/components', 'tag-group']"
                  routerLinkActive="active">Tag Group</a>
              </li>
          </ul>
        </nav>
      </mat-expansion-panel>

    </div>
  </div>
</div>
