<cx-dialog-template
  [showFooterActionButtons]="true"
  (cancel)="onCancel()"
  [isShowingMandatoryText]="true"
  (done)="onSave()"
>
  <modal-header>
    <h4>{{ 'User_Account_Page.Filter.Title' | translate }}</h4>
  </modal-header>
  <content>
    <cx-surveyjs
      #filterSurveyJs
      [json]="filterFormJSON"
      [submitName]="'Add new filter criteria'"
      [variables]="filterVariables"
      (submitting)="onAddNewFilter($event)"
      (valueChanged)="onAddCriteriaChanged($event)"
    >
    </cx-surveyjs>
    <cx-surveyjs
      #appliedFilterSurveyJs
      [data]="appliedData"
      [hideSubmitBtn]="true"
      [json]="appliedFilterFormJSON"
      [submitName]="'Apply'"
      (changeValue)="onChanged($event)"
      (submit)="onApplyFilter()"
    >
    </cx-surveyjs>
    <div class="current-filters">
      <div class="current-filters__header">
        {{ 'User_Account_Page.Filter.Current_Filter_Title' | translate }}
      </div>
      <div class="current-filters__container">
        <div
          class="current-filters__container__criteria"
          *ngFor="let currentFilteredData of appliedData.appliedFilter"
        >
          <div class="current-filters__container__criteria__text">
            {{ currentFilteredData.filterOptions.text }}
          </div>
          <div class="current-filters__container__criteria__to-be">is</div>
          <div class="current-filters__container__criteria__content">
            {{ currentFilteredData.data.text }}
          </div>

          <button
            class="cx-btn current-filters__container__criteria__rm-btn"
            (click)="onFilterRemoved(currentFilteredData.id)"
          >
            {{ 'User_Account_Page.Filter.Remove_Button' | translate }}
          </button>
        </div>
      </div>
    </div>
  </content>
</cx-dialog-template>
