<div class="detail-content">
  <div class="detail-content__left-container">
    <scrollable-menu [title]="'Information about the class run'"
                     [tabs]="tabs"
                     stickyElement
                     [stickyDependElement]="stickyDependElement"
                     [stickySpacing]="stickySpacing"></scrollable-menu>
  </div>
  <div class="detail-content__right-container">
    <div class="scrollable-menu-content">
      <div class="scrollable-menu-content__tab-content"
           #classRunOverviewInfoTab>
        <classrun-overview-info-tab [form]="form"
                                    [mode]="mode"
                                    [classRun]="classRun"
                                    [searchType]="searchType"
                                    [isRescheduleMode]="isRescheduleMode"></classrun-overview-info-tab>
      </div>
      <div class="scrollable-menu-content__tab-content"
           #classRunPlanningTab>
        <classrun-planning-tab [form]="form"
                               [mode]="mode"
                               [classRun]="classRun"></classrun-planning-tab>
      </div>
      <div class="scrollable-menu-content__tab-content"
           #classRunApplicationTab>
        <classrun-application-tab [form]="form"
                                  [mode]="mode"
                                  [classRun]="classRun"></classrun-application-tab>
      </div>
    </div>
  </div>
</div>
