<cx-dialog-template [showFooterActionButtons]="false" (cancel)="onCancel()">
  <modal-header>
    <h5>{{ 'Common.Label.EnableColumns' | translate }}</h5>
  </modal-header>
  <content>
    <div class="column-dropdown-menu" *ngIf="staffListColumnDef">
      <div *ngFor="let column of staffListColumnDef">
        <cx-checkbox
          [selected]="!column.hide"
          (selectedChange)="changeSelectedColumn($event, column)"
        >
          {{ column.headerName }}
        </cx-checkbox>
      </div>
    </div>
  </content>
</cx-dialog-template>
