:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .upload-content {
    flex-grow: 1;
    margin: 0 0 16px 0;
    overflow-y: auto;
  }

  .actions.row {
    flex-shrink: 0;
  }
}

.upload-content {
  margin: 0 0 16px 0;

  .upload-progress {
    .description.central {
      margin: 0;
    }
  }

  .preview-img {
    overflow: auto;

    img {
      width: 100%;
      max-width: 100%;
    }
  }
}
