<div class="user-select-container">
  <img
    id="search-icon"
    src="../../../../assets/icons/search.svg"
    class="search-icon"
    (click)="onSearchIconClicked()"
  />
  <opal-select
    class="event-form-user"
    [placeholder]="handlingPlaceholder()"
    [labelField]="'firstName'"
    [valueField]="'identity.extId'"
    [fetchDataFn]="fetchUsersFn"
    [items]="belongingUserInUserGroup"
    [maxDropdownHeight]="320"
    [(ngModel)]="selectedUserIds"
    [disableSelectAll]="true"
    [staticMode]="true"
    [multiple]="true"
    [hideSelected]="true"
    (selectedItemChange)="onUserSelected($event)"
  >
    <ng-template opalOptionTmp let-item="item">
      <div class="ng-option-container">
        <img
          class="ng-option-avatar"
          src="{{
            item.jsonDynamicAttributes.avatarUrl
              ? item.jsonDynamicAttributes.avatarUrl
              : defaultAvatar
          }}"
          alt="user-avatar"
        />
        <img
          class="already-assigned-icon"
          src="../../../../../assets//icons/check-mark-secondary.svg"
          *ngIf="isUserSelected(item)"
        />
        <div class="ng-option-info">
          <div class="ng-option-label">
            {{ item.firstName != null ? item.firstName : '' }}
          </div>
          <div class="ng-option-email">
            {{ item.emailAddress != null ? item.emailAddress : 'test' }}
          </div>
        </div>
        <div class="ng-option-action">
          <button
            class="cx-btn-secondary add-btn"
            *ngIf="!isUserSelected(item)"
          >
            {{
              'User_Group_Page.Modify_User_Group_Popup.Button.Add' | translate
            }}
          </button>
          <button
            class="cx-btn-secondary remove-btn"
            *ngIf="isUserSelected(item)"
          >
            <img
              class="icon-remove"
              src="../../../../assets/icons/dash-secondary.svg"
            />{{
              'User_Group_Page.Modify_User_Group_Popup.Button.Remove'
                | translate
            }}
          </button>
        </div>
      </div>
    </ng-template>
  </opal-select>

  <button
    [disabled]="agGridConfig && !agGridConfig.selectedRows.length"
    class="remove-action-btn"
    (click)="onRemoveUserClicked()"
  >
    {{ 'Common.Button.Remove' | translate }}
  </button>

  <ag-grid-angular
    *ngIf="agGridConfig"
    #grid
    class="ag-grid-header-floatable ag-grid-scroll-floatable ag-theme-material styled-grid user-table"
    domLayout="autoHeight"
    [columnDefs]="agGridConfig.columnDefs"
    [context]="agGridConfig.context"
    [rowHeight]="82"
    [defaultColDef]="agGridConfig.defaultColDef"
    [frameworkComponents]="agGridConfig.frameworkComponents"
    [rowData]="agGridConfig.rowData"
    [rowMultiSelectWithClick]="true"
    [rowSelection]="'multiple'"
    [suppressMenuHide]="true"
    [overlayNoRowsTemplate]="
      'User_Account_Page.User_List.Search_Result_Dialog.No_Result_Message'
        | translate
    "
    [gridOptions]="{ suppressMovableColumns: true }"
    [suppressRowClickSelection]="true"
    (selectionChanged)="onSelectionChanged($event)"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</div>
