<div *ngIf="!loading" class="planned-pdo-mass-nominations__nominate">
  <ng-container>
    <div class="mass-nomination-heading">MASS NOMINATION</div>
    <div class="upload-file">
      <div class="cx-panel__label">
        IMPORT NOMINATION FILE *
        <span [ngbTooltip]="instructionTooltipsContent" placement="right">
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-info-circle-fill instruction-tooltips"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
            />
          </svg>
          <ng-template #instructionTooltipsContent>
            <div>
              <div>
                Course Code: refer to course overview in Course Administration
              </div>
              <div>
                Class Run Number: use the last two digits of class run code
              </div>
            </div>
          </ng-template>
        </span>
      </div>
      <div class="description">
        <div>
          You may click
          <a class="file-template-link" (click)="downloadFile()">here</a> to
          download the CSV template to mass nominate learners to respective
          class runs. A maximum of 1000 records can be uploaded per transaction.
        </div>
      </div>
      <div class="upload-zone">
        <div class="upload-btn">
          <input
            #uploadFile
            id="uploadFile"
            type="file"
            accept=".csv"
            (change)="handleFileInput($event)"
          />
          <label for="uploadFile"
            ><i class="icon icon-upload"></i>Upload file</label
          >
        </div>
        <div>{{ uploadFileName }}</div>
      </div>
    </div>
    <div class="select-approving-officer">
      <div class="cx-panel__label">SET APPROVING OFFICER *</div>
      <mat-radio-group
        class="select-approving-officer__selector mt-2"
        aria-label="Approving officer target:"
        [value]="approvingOfficerMode"
        (change)="onChangeApprovingOfficerMode($event)"
      >
        <mat-radio-button class="mr-4" [value]="'admin'">
          Pick a Division/Branch/School Admin
        </mat-radio-button>
        <mat-radio-button class="mr-4" [value]="'cao'">
          Route to individual learner’s CAO
        </mat-radio-button>
      </mat-radio-group>
      <cx-select
        *ngIf="isApprovingAdminMode"
        class="learner-selector"
        [itemObs]="approvingAdminObs"
        [(selectedItems)]="selectedAdminSelectItem"
        [config]="adminSelectorConfig"
      ></cx-select>
    </div>

    <div class="action-button mt-4">
      <button
        class="cx-btn"
        [disabled]="!canNominate"
        (click)="onClickedNominate()"
      >
        Nominate
      </button>
    </div>
  </ng-container>
</div>
