@import '~assets/styles/variables.scss';

:host {
  display: block;
}

.klp-pdo-container {
  margin-bottom: 60px;
  .klp-pdos {
    margin-top: 20px;
    &__item {
      max-width: 900px;
      margin-bottom: 20px;
      display: block;
    }
  }
  .add-pdo-btn {
    white-space: nowrap;
    flex-shrink: 0;
  }
  .no-data-label {
    color: #a1a8b6;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
