<div class="broadcast-messages-list">
  <div>
    <ag-grid-angular
      *ngIf="agGridConfig"
      #grid
      class="ag-grid-header-floatable ag-grid-scroll-floatable ag-theme-material styled-grid broadcast-message-table"
      domLayout="autoHeight"
      [defaultColDef]="agGridConfig.defaultColDef"
      [columnDefs]="agGridConfig.columnDefs"
      [context]="agGridConfig.context"
      [rowHeight]="82"
      [rowData]="agGridConfig.rowData"
      [rowMultiSelectWithClick]="true"
      [rowSelection]="'multiple'"
      [overlayNoRowsTemplate]="'No Result'"
      [frameworkComponents]="agGridConfig.frameworkComponents"
      [suppressRowClickSelection]="true"
      [suppressMenuHide]="true"
      [gridOptions]="{ suppressMovableColumns: true }"
      (cellClicked)="onEditBroadcastMessagesClicked($event)"
      (sortChanged)="onSortChange($event)"
      (firstDataRendered)="onFirstDataRendered($event)"
      (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
  </div>
</div>