.k-menu-as-button {
  display: inline-block;

  .k-menu .k-item>.k-link {
    color: $color-light-gray;
    font-weight: $font-weight-medium;
    border-radius: 4px;
    background: $white;
    border: 1px solid $color-gainsboro;
    padding: 7px 12px;
    @extend %smooth;

    &:hover {
      background: $color-light-gray;
      color: $white;
      @extend %smooth;
    }

    &:active {
      background: $color-blue-jay;
      color: $white;
      @extend %smooth;
    }
  }
}

.k-menu.k-context-menu,
.k-column-menu .k-menu:not(.k-context-menu),
.k-menu-group {
  padding: 10px 0;
  background: $white;
  border-radius: 5px;
  border: $border;
}

.k-menu-group {

  .k-item:hover,
  .k-item.k-state-hover,
  .k-menu.k-context-menu .k-item:hover,
  .k-menu.k-context-menu .k-item.k-state-hover {
    background: $accent;
    color: $white;
  }
}

// Context menu
.k-popup {

  .k-item:hover,
  .k-item.k-state-hover,
  .k-menu.k-context-menu .k-item:hover,
  .k-menu.k-context-menu .k-item.k-state-hover {
    background: $accent;
    color: $white;
  }
}

// Switcher menu on header and kendo-menu
kendo-popup {
  &.k-context-menu-popup {
    margin-top: 4px;
  }

  kendo-menu {
    .k-header {
      &.k-menu {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #e2e2e2;
        box-sizing: border-box;
        box-shadow: 0 11px 15px rgba(0, 0, 0, .05), 0 24px 38px rgba(0, 0, 0, .05);
        background: $white;

        .k-menu-item {
          padding: 0 10px;
          margin: 2px 0;
          border-radius: $main-border-radius;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: $font-h6;
          font-weight: normal;

          &.k-item {

            &:hover,
            &.active {
              @extend %smooth;
              background: $color-blue-dard;
            }
          }
        }

        // &:after {
        //   content: '';
        //   position: absolute;
        //   width: 0;
        //   height: 0;
        //   top: -8px;
        //   right: calc(50% + 4px);
        //   filter: drop-shadow(0 -1px 0 #d1d1d1);
        //   border: 8px solid transparent;
        //   border-top-width: 0;
        //   border-bottom-color: $white;
        // }
      }
    }
  }

  .k-menu-popup {
    padding: 10px;
    border-radius: 5px !important;
    border-color: #e2e2e2 !important;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    box-shadow: 0 11px 15px rgba(0, 0, 0, .05), 0 24px 38px rgba(0, 0, 0, .05) !important;
    background: $white;

    .k-menu-group {
      border: none;
      padding: 0;

      .k-menu-item {
        padding: 0 10px;
        margin: 2px 0;
        border-radius: $main-border-radius;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $font-h6;
        font-weight: normal;

        &.k-item {

          &:hover,
          &.active {
            @extend %smooth;
            background: $color-blue-dard;
          }
        }
      }
    }
  }

  .k-menu-popup {
    padding: 10px;
    border-radius: 5px !important;
    border-color: #e2e2e2 !important;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    box-shadow: 0 11px 15px rgba(0, 0, 0, .05), 0 24px 38px rgba(0, 0, 0, .05) !important;
    background: $white;

    .k-menu-group {
      border: none;
      padding: 0;

      .k-menu-item {
        padding: 0 10px;
        margin: 2px 0;
        border-radius: $main-border-radius;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $font-h6;
        font-weight: normal;

        &.k-item {

          &:hover,
          &.active {
            @extend %smooth;
            background: $color-blue-dard;
          }
        }
      }
    }
  }

  .k-list {
    .k-item {
      &:not(.k-state-selected) {
        &:hover {
          background-color: $color-dim-gray;
        }
      }
    }
  }
}
