<cx-docs-view>
  <div contentFirst>
    <div>
      Usage: <b>&lt;button class="cx-btn"&gt;&lt;/button&gt;</b>
    </div>
    <div>
      <p>class="cx-btn"</p>
      <a href="https://www.google.com/" target="_blank" class="cx-btn">Normal a tag</a>
      <button class="cx-btn">Normal</button>
      <button class="cx-btn cx-btn-small">Small normal</button>
      <button class="cx-btn cx-btn-small" disabled>Small normal</button>
    </div>

    <div>
      <p>class="cx-btn cx-btn-secondary"</p>
      <button class="cx-btn cx-btn-secondary">Secondary</button>
      <button class="cx-btn cx-btn-secondary cx-btn-small">Small secondary</button>
      <button class="cx-btn cx-btn-secondary cx-btn-small" disabled>Small secondary</button>

    </div>

    <div>
      <p>class="cx-btn cx-btn-danger"</p>
      <button class="cx-btn cx-btn-danger">Button danger</button>
      <button class="cx-btn cx-btn-danger cx-btn-small">Button danger</button>
      <button class="cx-btn cx-btn-danger cx-btn-small" disabled>Button danger</button>
    </div>

    <div>
      <p>class="cx-btn cx-btn-small"</p>
      <button class="cx-btn cx-btn-small">Button small</button>
      <button class="cx-btn cx-btn-secondary cx-btn-small">Button secondary small</button>
      <button class="cx-btn cx-btn-secondary cx-btn-small" disabled>Button secondary small</button>
    </div>

    <div>
      <p>class="cx-btn cx-btn-icon"</p>
      <button class="cx-btn cx-btn cx-btn-icon">
        <i class="icon-search"></i>
        <span>Icon</span>
      </button>
    </div>

    <div>
      <p>class="cx-btn cx-btn-icon-right"</p>
      <button class="cx-btn cx-btn-icon-right">
        <span>Icon</span>
        <i class="icon-search"></i>
      </button>
    </div>
  </div>
</cx-docs-view>
