$icomoon-font-family: 'opal' !default;
$icomoon-font-path: 'fonts' !default;

$icon-sync-path1: '\e944';
$icon-sync-path2: '\e947';
$icon-sync-path3: '\e948';
$icon-sync-path4: '\e949';
$icon-sync-path5: '\e94a';
$icon-sync-path6: '\e94b';
$icon-add-group: '\e942';
$icon-mark-user: '\e938';
$icon-caution: '\e939';
$icon-cancel: '\e93e';
$icon-accept: '\e93f';
$icon-checklist: '\e940';
$icon-unlock: '\e941';
$icon-pause: '\e93a';
$icon-edit: '\e93b';
$icon-delete-light: '\e943';
$icon-revert: '\e93d';
$icon-change-department: '\e937';
$icon-lion: '\e935';
$icon-apps: '\e936';
$icon-bookmark-check: '\e934';
$icon-book-plus: '\e933';
$icon-check-mark: '\e932';
$icon-info: '\e931';
$icon-calendar-clock: '\e92b';
$icon-filter: '\e92c';
$icon-paper-plane: '\e92d';
$icon-star: '\e92e';
$icon-star-half: '\e92f';
$icon-star-outline: '\e930';
$icon-comment: '\e929';
$icon-notebook: '\e92a';
$icon-clock: '\e927';
$icon-map-marker: '\e928';
$icon-block: '\e924';
$icon-meatball: '\e925';
$icon-right-arrow: '\e926';
$icon-bookmark: '\e923';
$icon-development-selected: '\e921';
$icon-development: '\e922';
$icon-chevron-right-bold: '\e920';
$icon-odp-plan: '\e91d';
$icon-odp-direction: '\e91e';
$icon-odp-program: '\e91f';
$icon-delete: '\e917';
$icon-duplicate: '\e918';
$icon-pencil: '\e919';
$icon-klp: '\e91a';
$icon-add-ld: '\e91b';
$icon-add: '\e91c';
$icon-down-arrow: '\e909';
$icon-sort-down: '\e90a';
$icon-sort-up: '\e912';
$icon-sortable: '\e913';
$icon-calendar: '\e90e';
$icon-calendar-selected: '\e90f';
$icon-staff: '\e916';
$icon-staff-selected: '\e915';
$icon-growth: '\e908';
$icon-growth-selected: '\e914';
$icon-pie-chart: '\e907';
$icon-pie-chart-selected: '\e911';
$icon-controls: '\e910';
$icon-hamburger: '\e90d';
$icon-print: '\e90b';
$icon-chevron-right: '\e90c';
$icon-logout: '\e904';
$icon-headphones: '\e905';
$icon-settings: '\e906';
$icon-search: '\e900';
$icon-close: '\e901';
$icon-bell: '\e903';
$icon-grid: '\e902';
$icon-folder: '\e945';
$icon-folder-empty: '\e946';
$icon-colums: '\e93c';
