<div class="assessment-rubric-comparison">
  <div class="assessment-rubric-comparison__title">{{ assessmentTitle }}</div>

  <div *ngIf="type === 'Holistic'">
    <!-- Holistic Editor -->
    <div class="assessment-rubric-comparison__contaiter">
      <assessment-rubric-compare-indicator [type]="'Scale'"
                                           [side]="side"
                                           [comparisonData]="compareAbleAssessmentData"></assessment-rubric-compare-indicator>
    </div>
  </div>

  <div *ngIf="type === 'Analytic'">
    <!-- Analytic Scale Editor -->
    <div class="assessment-rubric-comparison__contaiter">
      <assessment-rubric-compare-indicator [type]="'Scale'"
                                           [side]="side"
                                           [canShowDescripton]="false"
                                           [canShowScaleValue]="false"
                                           [comparisonData]="compareAbleAssessmentData"></assessment-rubric-compare-indicator>
    </div>

    <!-- Analytic Criteria Editor -->
    <div class="assessment-rubric-comparison__contaiter">
      <assessment-rubric-compare-indicator [type]="'Criteria'"
                                           [side]="side"
                                           [canShowDescripton]="false"
                                           [comparisonData]="compareAbleAssessmentData"></assessment-rubric-compare-indicator>
    </div>

    <!-- Scale Criteria Cell Value Editor -->
    <div class="assessment-rubric-comparison__contaiter">
      <assessment-rubric-compare-indicator [type]="'Rubric'"
                                           [side]="side"
                                           [comparisonData]="compareAbleAssessmentData"></assessment-rubric-compare-indicator>
    </div>
  </div>
</div>
