<div class="filter-form">
  <div class="form-group">
    <label for="input">{{
      'ApprovalPage.FilterSlidebar.ClassRunChangeRequest.LearnersLabel'
        | translate
    }}</label>
    <cx-select
      class="form-selector"
      [itemObs]="filterLearners"
      [(selectedItems)]="learnersSelected"
      [config]="learnerSelectorConfig"
    ></cx-select>
  </div>

  <div class="form-group">
    <label for="input">{{
      'ApprovalPage.FilterSlidebar.ClassRunChangeRequest.CourseLabel'
        | translate
    }}</label>
    <div class="">
      <cx-select
        class="form-selector"
        [(selectedItems)]="courseSelected"
        [itemObs]="filterCourses"
        [config]="courseSelectorConfig"
        (selectedItemsChange)="updateClassRunItems()"
      ></cx-select>
    </div>
  </div>

  <div *ngIf="classRunsItems && classRunsItems.length" class="form-group">
    <label for="input">{{
      'ApprovalPage.FilterSlidebar.ClassRunChangeRequest.ClassRunsLabel'
        | translate
    }}</label>
    <div class="">
      <cx-select
        class="form-selector"
        [(selectedItems)]="classRunsSelected"
        [itemObs]="classRunsObs"
        [config]="classRunSelectorConfig"
      ></cx-select>
    </div>
  </div>

  <div class="form-group">
    <label for="input">{{
      'ApprovalPage.FilterSlidebar.ClassRunChangeRequest.ClassRunChangeStatusLabel'
        | translate
    }}</label>
    <div class="">
      <cx-select
        class="form-selector"
        [(selectedItems)]="classRunChangeRequestStatuses"
        [itemObs]="classRunChangeStatusObs"
        [config]="classRunChangeStatusSelectorConfig"
      ></cx-select>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <div class="col-item">
      <div class="form-group">
        <label for="input">{{
          'ApprovalPage.FilterSlidebar.ClassRunChangeRequest.RequestStartDateLabel'
            | translate
        }}</label>
        <div class="">
          <cx-date-picker
            [(date)]="classRunChangeRequestedStartDate"
            [isDisabled]="disableDatePicker"
            [iconClass]="'material-icons date-range'"
            (dateChange)="onApprovingStartDateChanged()"
          >
          </cx-date-picker>
        </div>
      </div>
    </div>
    <div class="col-item">
      <div class="form-group">
        <label for="input">{{
          'ApprovalPage.FilterSlidebar.ClassRunChangeRequest.RequestEndDateLabel'
            | translate
        }}</label>
        <div class="">
          <cx-date-picker
            [(date)]="classRunChangeRequestedEndDate"
            [isDisabled]="disableDatePicker"
            [iconClass]="'material-icons date-range'"
            [minDate]="classRunChangeRequestedStartDate"
          >
          </cx-date-picker>
        </div>
      </div>
    </div>
  </div>
</div>
