:host {
  p {
    margin-bottom: 0px;
  }

  button {
    border: none;
    background-color: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #8799ba;
    cursor: pointer;
    padding-left: 0;
  }
}
