.broadcast-message-container {
  .actions {
    display: flex;
    justify-content: flex-end;
  }

  .broadcast-message {
    &__paging-area {
      margin-top: 20px;
    }
  }

  .prevent-actions-broadcast-messages {
    pointer-events: none;
  }
}
