@import '~assets/styles/variables.scss';
@import '~assets/styles/mixins.scss';

.learning-plan-detail {
  height: 100%;
  min-height: 100vh;
  padding: 30px 50px;
  padding-bottom: 200px;
  .no-records-container {
    text-align: center;
  }

  .material-icons {
    color: $main-color-lighter;
  }

  .disable-select-text {
    @include disable-user-select();
  }

  .breadcrum-container {
    margin-bottom: 20px;
    background: #fff;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    padding: 5px 20px;
    padding-right: 100px;
    width: fit-content;
    min-width: 350px;
  }

  .plan-toolbar-container {
    height: 70px;
    margin-bottom: 20px;
    .cx-toolbar--floating {
      height: 70px;
    }
  }

  .plan-toolbar {
    height: 70px;
    min-height: 0;

    .plan-title {
      text-transform: capitalize;
    }

    &__current-plan-name {
      font-size: 1.3em;
      font-weight: 500;
      color: #2d3469;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &__plan-modification-info {
      flex: 33.33%;
      max-width: 33.33%;
      padding-right: 10px !important;
      padding-left: 0;
    }
    &__plan-actions {
      text-align: right;
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-end;
      .cx-btn {
        font-size: 14px;
        min-width: 90px;
        &:not(:last-child) {
          margin-right: 4px;
        }
      }
    }
  }

  .cx-split-view {
    width: 100%;
    height: 100%;
    display: flex;

    &__left-side {
      flex-grow: 0;
      flex-shrink: 0;
      width: 300px;

      .left-side-content {
        position: relative;
        background: $panel-background-color;
        border-radius: 5px;
        margin-right: 20px;
        overflow: hidden;
        padding: 0;

        .add-new-ld {
          display: flex;
          position: absolute;
          bottom: 0;
          padding: 15px 15px;
          width: 100%;
          vertical-align: middle;
          justify-content: center;
          text-align: center;
          color: #1f2735;
          cursor: pointer;
          flex-wrap: nowrap;
          border-top: 1px solid #eeeeee;

          &:hover {
            background: #f0faff;
          }

          &__icon {
            height: 35px;

            i {
              font-size: 30px;
            }
          }

          &__text {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            span {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 1.2em;
            }
          }
        }

        cx-node {
          font-family: 'Roboto', sans-serif !important;
          .cx-node {
            &__content {
              min-height: 60px;
              &.cx-selected {
                font-weight: 500;
                background: #f0faff;
                box-shadow: inset 6px 0px 0px #36a9dc;
              }
              &:hover {
                font-weight: 500;
                background: #f0faff;
              }
              &--node-icon {
                margin-right: 12px;
              }
              &--name {
                padding: 10px 35px 10px 0;

                .main-name {
                  font-size: 1rem;
                }

                .node-status {
                  &__circle {
                    margin-right: 5px;
                  }
                  &__text {
                    font-weight: 500;
                    white-space: nowrap;
                  }
                }

                .sub-name {
                  font-size: 12px;
                }

                &.cxHasSubName {
                  padding: 7px 0 !important;
                  padding-right: 30px !important;
                }
              }

              &__expand-icon {
                > i {
                  font-size: 12px;
                }
                &.cx-hide {
                  display: flex;
                  visibility: hidden;
                }
              }
            }

            &__create-new-node {
              &__icon {
                margin-left: 44px;
                & i::before {
                  font-size: 18px;
                }
              }
              &:hover {
                font-weight: 500;
                background: #f0faff;
              }
            }

            &__children {
              &.cx-show {
                max-height: unset;
              }
            }
          }

          .node-level-0 {
            > .cx-node {
              &__content {
                border-bottom: 1px solid #eeeeee;
                border-radius: 0px 5px 0 0;

                .cx-node__content--name {
                  padding: 15px 40px 15px 0;

                  .main-name {
                    font-size: 1.3em;
                    text-transform: uppercase;
                    font-weight: 500;
                    color: #8799ba;
                  }
                }

                .cx-node__content__total-children {
                  right: 13px;

                  div {
                    background-color: #6788c7;
                    width: 24px;
                    height: 24px;
                    font-size: 0.8em;
                  }
                }
              }

              &__children {
                overflow-x: hidden;
                overflow-y: scroll;
                padding-bottom: 66px;

                &::-webkit-scrollbar {
                  width: 0;
                }
              }
            }
          }
        }
      }
    }

    &__divider {
      flex-grow: 0;
      flex-shrink: 0;
      width: 4px;
      margin: 4px 0;
      position: relative;
      z-index: 3;
      transition: all 100ms ease 0s;
      cursor: col-resize;

      &__toggler {
        width: 25px;
        height: 25px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        top: 56px;
        margin-left: -35px;
        text-align: center;
        cursor: pointer;
        transform: rotate(90deg);
        box-shadow: 0px 0px 4px #acacac;

        & i {
          font-size: 8px;
          color: #3e3434;
          position: absolute;
          top: 52%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: bold;
        }

        &:hover {
          background: #313552;
          > i {
            color: #fff;
          }
        }
      }
    }

    &__right-side {
      width: 100%;
      overflow: hidden;
    }

    .cx-flip {
      transform: rotate(270deg);
      margin-left: -10px;
    }

    .cx-light-transition {
      transition: all 300ms ease 0s;
    }

    .hidden-overflow-y {
      overflow-y: hidden;

      .left-side-content {
        display: none;
      }
    }
  }
  .show-more-icon {
    &:hover {
      cursor: pointer;
      color: rgba(112, 161, 255, 1) !important;
    }
  }

  .dropdown-menu {
    &.cx-dropdown-menu {
      &.show {
        transform: translate3d(-245px, -11px, 0px) !important;
        &::after {
          content: unset !important;
        }
      }
    }
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .learning-plan-detail {
    padding: 20px 20px 50px;
    .plan-toolbar--floating {
      margin: 0 20px;
      width: calc(100% - 40px);
    }
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .learning-plan-detail {
    .breadcrum-container {
      min-width: auto;
      width: 100%;
    }

    .cx-split-view {
      display: block;
      &__left-side {
        width: 100%;
        .left-side-content {
          margin-right: 0;
          padding: 0 !important;
        }
      }
      &__divider {
        display: none;
      }
      &__right-side {
        margin-top: 20px;
      }
    }
  }
}

@media only screen and (max-width: $screen-xxs-max) {
  .learning-plan-detail {
    .plan-toolbar-container {
      height: 150px;

      .cx-toolbar {
        &--floating {
          height: 100%;
        }
      }
    }
    .plan-toolbar {
      position: relative;
      height: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-top: 20px;
      &__current-plan-name {
        position: absolute;
        left: 0;
        top: 16px;
        width: 100%;
        padding: 0 16px !important;
      }
      &__plan-actions {
        position: absolute;
        right: 0;
        bottom: 16px;
      }
      &__plan-modification-info {
        width: 100%;
        max-width: initial;
        padding: 0 !important;
        .metadata-modification-info {
          padding-left: 16px;
          padding-right: 16px;
        }
      }
    }
  }
}
