<div class="detail-content">
  <div class="detail-content__left-container">
    <scrollable-menu [title]="'Information about the session'"
                     [tabs]="tabs"
                     stickyElement
                     [stickyDependElement]="stickyDependElement"
                     [stickySpacing]="stickySpacing"></scrollable-menu>
  </div>
  <div class="detail-content__right-container">
    <div class="scrollable-menu-content">
      <div class="scrollable-menu-content__tab-content"
           #sessionOverviewInfoTab>
        <session-overview-info-tab [form]="form"
                                   [mode]="mode"
                                   [session]="session"
                                   [course]="course"
                                   [classRunSearchType]="classRunSearchType"
                                   [isRescheduleMode]="isRescheduleMode"
                                   [forModule]="forModule"
                                   (preRecordClipChange)="onPreRecordClipChanged($event)"
                                   (usePreRecordClipChange)="onUsePreRecordClipChanged($event)"></session-overview-info-tab>
      </div>
    </div>
  </div>
</div>
